
body {
	font-family: 'Arial', cursive;
	padding: 0;
	margin: 0;
}
 

/* Start by setting display:none to make this hidden.
   Then we position it in relation to the viewport window
   with position:fixed. Width, height, top and left speak
   for themselves. Background we set to 80% white with
   our animation centered, and no-repeating */
.modal {
    display:    none;
    position:   fixed;
    z-index:    1000;
    top:        0;
    left:       0;
    height:     100%;
    width:      100%;
    background: rgba( 255, 255, 255, .8 ) 
                url('/App_Themes/images/FhHRx.gif') 
                50% 50% 
                no-repeat;
    overflow:   auto; 
}

.dispmodal {
    position:   fixed;
    z-index:    1000;
    top:        0;
    left:       0;
    right: 0;
    width:      100%;
    max-height: 100%;
    overflow-y:   auto; 
    overflow-x:   hidden; 
}

body.loading {
    overflow: hidden;   
}

body.loading .modal {
    display: block;
}
.iconsmall { max-height: 1.3em; max-width: 1.3em; } 

.photo { width: 100%; }
.blogbanner { float: left; top:0; }
.subtitle { font-size:small; font-style: italic; }


nav li { display: inline-block; }

footer a {
	border-radius:1em;
	padding:1em;
  }

legend {
	border-radius:5px;
	padding:.5em;
  }
#copyr { text-align: center; display: block; background-color: rgba(20,20,20,.8); }
footer p { display:inline-block; } 

footer img { max-height: 3em; vertical-align: middle; }
a img, h1 img, .menuitem img  { vertical-align: middle; }

#gspacer { 
	background-color: rgba(20,20,20,.8); 
	border-radius:1em;
	margin:1em; padding:1em; display: inline-block }
fieldset {
	background-color: rgba(16,16,64,0.8);
	border-radius:5px; border: solid 1px #000060;
} 

.actionlink, .menuitem, a {
   display:inline-block;
	border-radius:1em;
	border-style: solid;
	border-width:1px;
   cursor: pointer;
   font-family: 'Arial', cursive;
	padding: 1em;
}

input, select, textarea { 
	border-radius:1em;
	border-style: solid;
	border-width:1px;

    font-family: 'Arial', cursive;
}

.code {
	font-family: "monospace";
	border-radius:25px;
	white-space: pre-wrap;
}

#avatar { 
 float: left;
 margin:1em;
 }

.comment {
	border-radius:25px;
	font-size: smaller;
	}

.onhover {
	display:none; 
	position: absolute;
}

.ohafter:hover + .onhover, .ohinside:hover > .onhover {
   display:block; 
   z-index:2; 
	 padding:5px; margin:5px;
   background-color: rgba(0,0,40,.8); 
}
.skillname { 
padding:.5em;
margin:.25em;
 max-width: 24em; 
 text-align: center;
display: inline-block; 
	background-color: rgba(16,16,64,0.8);
	border-radius:1em;
	 border: solid 1px #aaf;
	 } 
.input-validation-error { border: solid 1px red; background-color: rgba(180,256,256,.5); }
.field-validation-error { color: red; background-color: rgba(180,256,256,.5); }

.c2 { font-size: small; font-style: italic; }
.c3 { font-size: x-small; font-style: italic; }

.rate { 
	display:inline-bloc; width:5em; cursor: pointer; text-align:center; 
	}
h2 select { font-size: large; }

ul.editablelist { 
	display: inline;
	}
ul.editablelist>li { 
	display: inline;
	margin:.5em;
	padding:.2em;
	border: solid grey 1px;
	border-radius: 1em;
}
ul.editablelist>li:before { 
  font-family: 'FontAwesome';
  content: "\f007";
  }
ul.editablelist>li:hover { 
	background-color: rgba(128,0,0,0.5);
	cursor:pointer;
}

ul.editablelist>li:hover:before { 
  font-family: 'FontAwesome';
  content: "\f00d";
  }

@media print {
		body {background-color:white;color:black;}
		.control, .actionlink,  .menuitem, nav { display:none;} 
	}

  .bshpanel { display: inline-block; }
  .bsh { display: none; }
  .c3 { display:initial; }
  .c3-alt { display:none; }

@media all and (max-width: 640px) {
header {
	padding-top:1em;
	padding-bottom:1em;
	background: url("/App_Themes/images/star-939235_1280.s.jpg") 0 0 no-repeat fixed;
	}
		
#avatar { 
 	margin:.5em;
 }

header h1, header a , .actionlink, .menuitem, a { padding:.5em;}

	nav {
	margin: 1em;
		padding: 1em;
		background:    url("/App_Themes/images/helix-nebula-1400x1400.s.jpg") 50% 10% repeat fixed ; 
	}
	main { 
	margin: 1em;
	padding: 1em;
	background: url("/App_Themes/images/p8-av4.s.jpg") 50% 20em no-repeat fixed ;
	} 
	footer { 
		background: url("/App_Themes/images/helix-nebula-1400x1400.s.jpg") 50% 90% repeat fixed ; 
	} 
	footer a {
	border-radius:.5em;
	margin:.5em;
	padding:.5em;
  }

  .notification { 
	padding: .5em;
	border-radius:.5em;
	margin:.5em;
	padding:.5em;
	max-height: 100%;
	overflow-y: auto;
 }
	.menuitem {
		display: block; 
	}
	.post { 
	margin:.3em;
	padding:.3em;
	}
	.usertitleref{ 
	padding:.3em;
	}
  .bshpanel { cursor:zoom-in; }

	.c2 { display:initial; }
	.c2-alt { display:none; }
	.c3 { display:none; }
	.c3-alt { display:initial; }
}

@media all and (max-width: 350px) {
header {
	padding-top:.5em;
	padding-bottom:.5em;
	background: url("/App_Themes/images/star-939235_1280.xxs.jpg") 0 0 no-repeat fixed;
 }

header h1, header a { padding:.2em;}

	nav {
	margin: .5em;
		padding: .5em;
		background:    url("/App_Themes/images/helix-nebula-1400x1400.xxs.jpg") 50% 10% repeat fixed ; 
	}
	main { 
	margin: .5em;
	    padding: .5em;
		background:   url("/App_Themes/images/p8-av4.xxs.jpg")  50% 20em repeat fixed ; 
	} 
	footer { 
		background:    url("/App_Themes/images/helix-nebula-1400x1400.xxs.jpg") 50% 10% repeat fixed ; 
	} 
	footer a {
	border-radius:.2em;
	margin:.2em;
	padding:.2em;
  }
  .c2 { display:none; }
  .c2-alt { display:initial; }
}


