
body {
	background-color: black;
	color: #D0FFD0;
	font-family: 'Arial', cursive;
	padding: 0;
	margin: 0;
}
.tagname {  color: #D0FFD0; }
.tagname+.tagname:before { content: ', '; } 
.tagname:hover { background-color: red; cursor:pointer; }

/* Start by setting display:none to make this hidden.
   Then we position it in relation to the viewport window
   with position:fixed. Width, height, top and left speak
   for themselves. Background we set to 80% white with
   our animation centered, and no-repeating */
.modal {
    display:    none;
    position:   fixed;
    z-index:    1000;
    top:        0;
    left:       0;
    height:     100%;
    width:      100%;
    background: rgba( 255, 255, 255, .8 ) 
                url('/images/FhHRx.gif') 
                50% 50% 
                no-repeat;
}

/* When the body has the loading class, we turn
   the scrollbar off with overflow:hidden */
body.loading {
    overflow: hidden;   
}

/* Anytime the body has the loading class, our
   modal element will be visible */
body.loading .modal {
    display: block;
}
.iconsmall { max-height: 1.3em; max-width: 1.3em; } 

input, textarea, checkbox { 
    color: #FFFFA0;
	background-color: black;
   }

.photo { width: 100%; }
.blogbanner { float: left; top:0; }
.subtitle { font-size:small; font-style: italic; }
header {
	padding: 0;
	margin: 0;
	padding-top: 201px;
	padding-bottom:2em;
	display: block;
	background: url("/images/star-939235_1280.jpg") 0 0 no-repeat fixed;
	}
header h1, header a {
background-color: rgba(0,0,0,.5); 
margin:0; padding:1em;
}

nav {
	margin: 2em;
	padding: 2em;
	display: block;
	border-radius:1em;
	background: url("/images/helix-nebula-1400x1400.s.jpg") 50% 10% repeat fixed ;
	justify-content: space-around;
}

main {
	margin: 2em;
	padding: 2em;
	display: block;
	border-radius:1em;
	background: url("/images/p8-av4.png") 50% 20em no-repeat fixed ;
	}

footer {
	background: url("/images/helix-nebula-1400x1400.s.jpg") 50% 90% repeat fixed ;
	margin: 0;
	margin-top: 2em;
	padding: 2em;
	display: block;
	clear: both;
	font-size: smaller;
	justify-content: space-around;
}
footer a {
	border-radius:1em;
	padding:1em;
  }
legend {
	border-radius:5px;
	padding:.5em;
	background-color: rgba(0,0,32,.5);
  }
#copyr { text-align: center; display: block; background-color: rgba(20,20,20,.8); }
footer p { display:inline-block; } 

footer img { max-height: 3em; vertical-align: middle; }
a img, h1 img, .menuitem img  { vertical-align: middle; }

#gspacer { 
	background-color: rgba(20,20,20,.8); 
	border-radius:1em;
	margin:1em; padding:1em; display: inline-block }
fieldset {
	background-color: rgba(16,16,64,0.8);
	border-radius:5px; border: solid 1px #000060;
} 

main video, main img {
	max-width:100%;
	max-height:75%;
	padding: 1em;
	}

aside { 
	display: inline-block;
	float: right;
	max-width: 40em;
}

.postpreview {
	display: inline-block;
	max-width: 40em;
	padding: 1em;
	background-color: rgba(0,0,32,0.8);
	border-radius:1em;
}
.postpreview video, .postpreview img {
	max-width:100%;
	max-height:5em;
	}
.post { 
	display:block;
	padding: 1em;
	background-color: rgba(0,0,32,0.8);
	color: #eee;
	border-radius:1em;
	}
.hiddenpost { background-color: rgba(16,16,16,0.5); }
.fullwidth { width: 100%;  }

textarea.fullwidth { min-height:10em; }

.thanks  { 
	max-width: 10%;
	text-align: center;
	font-size:smaller;
	display:inline;
	bottom:0;
}
.panel {  display:inline-block; }

.panel,.bshpanel, aside {
	background-color: rgba(20,20,20,.8); 
	border-radius: 1em; 
	padding: 1em;
}
.spanel {
  max-width: 18em;
    display: inline-block;
  padding: .3em;
}
.xspanel {
  max-width:13em;
  display: inline-block;
  padding:.2em;
}
.xxspanel {
  max-width:7em;
  display: inline-block;
  padding:.1em;
}
.hint {
	display: inline;
	font-style: italic;
	font-size: smaller;
}
.hint::before { 
content: "(";
}
.hint::after { 
content: ")";
}


.usertitleref {
	border-radius: 1em;
   background-color:rgba(0,0,32,0.6);
   font-family: 'Arial', cursive;
	padding: 1em;
}
a:visited {
	color: #E0E0E0;
}
label {
	font-size: medium;
}
.editable {
	margin: .5em; 
	min-height:1em; 
	border-radius: 1em; 
	border: dashed rgb(020,20,256) 2px; 
}
#notifications { 
	padding: 1em;
 }

.notification {
	font-size: large;
	background-color: rgba(64,64,0,0.5);
	border: solid green 1px;
	}
.dirty { 
	background-color: rgba(128,128,0,0.5);
}
.error, #error {
	color: #f88;
	font-size: large;
	background-color: rgba(256,0,0,0.5);
}
.validation-summary-errors{
	color: #f88;
	background-color: rgba(256,0,0,0.5);
}

.hidden { display:none; }

ul.preview li:nth-child(-n+10) {
   display:inline;
	font-size:xx-small;
}

ul.preview li:nth-child(n) {
	display:none;
}

.validation-summary-errors{
	color: #f88;
}

a {
   text-decoration: none;
}

.actionlink, .menuitem, a {
   display:inline-block;
	color: white;
	border-radius:1em;
	border: solid black 1px;
   background-color: rgba(20,20,20,.8); 
   cursor: pointer;
   font-family: 'Arial', cursive;
	padding: 1em;
}

input, select, textarea { 
	color: white;
	background-color:rgba(0,0,64,0.8);
	border: solid 1px rgb(128,128,128);
	border-radius:1em;
    font-family: 'Arial', cursive;
}

.actionlink:hover, fa:hover, .menuitem:hover, a:hover {
	background-color:rgba(30,0,124,0.9);
	border: solid green 1px;
}
 input:hover, textarea:hover {
	color: white;
	background-color:rgba(64,64,64,0.8);
}
.code {
	font-family: "monospace";
	background-color: rgba(0,0,256,0.1);
	border-radius:25px;
	white-space: pre-wrap;
}
#avatar { 
 float: left;
 margin:1em;
 }

.comment {
	border-radius:25px;
	font-size: smaller;
	}

.onhover {
	display:none; 
	position: absolute;
}

.ohafter:hover + .onhover, .ohinside:hover > .onhover {
   display:block; 
   z-index:2; 
	 padding:5px; margin:5px;
   background-color: rgba(0,0,40,.8); 
}

.input-validation-error { border: solid 1px red; }
.field-validation-error { color: red; }

.c2 { font-size: small; font-style: italic; }
.c3 { font-size: x-small; font-style: italic; }
@media print {
		body {background-color:white;color:black;}
		.control, .actionlink,  .menuitem, nav { display:none;} 
	}

	.bshpanel { display:block; }
  .bsh { display: none; }
  .c3 { display:initial; }
  .c3-alt { display:none; }

@media all and (max-width: 640px) {
header {
	padding-bottom:1em;
	}
		
#avatar { 
 margin:.5em;
 }

header h1, header a , .actionlink, .menuitem, a { padding:.5em;}

	nav {
	margin: 1em;
		padding: 1em;
		background:    url("/images/helix-nebula-1400x1400.s.jpg") 50% 10% repeat fixed ; 
	}
	main { 
	margin: 1em;
	padding: 1em;
	} 
	footer { 
		background: url("/images/helix-nebula-1400x1400.s.jpg") 50% 90% repeat fixed ; 
	} 
	footer a {
	border-radius:.5em;
	margin:.5em;
	padding:.5em;
  }
  #notifications { 
	padding: .5em;
 }
	.menuitem {
		display: block; 
	}
	.post { 
	margin:.3em;
	padding:.3em;
	}
	.usertitleref{ 
	padding:.3em;
	}
  .bshpanel { cursor:zoom-in; }

	.c2 { display:initial; }
	.c2-alt { display:none; }
	.c3 { display:none; }
	.c3-alt { display:initial; }
}

@media all and (max-width: 350px) {
header {
	padding-top: 101px;
	padding-bottom:1em;
	background: url("/images/star-939235_1280.xxs.jpg") 0 0 no-repeat fixed;
 }
header h1, header a { padding:.2em;}

	nav {
	margin: .5em;
		padding: .5em;
		background:    url("/images/helix-nebula-1400x1400.xxs.jpg") 50% 10% repeat fixed ; 
	}
	main { 
	margin: .5em;
	    padding: .5em;
		background:   url("/images/p8-av4.xxs.jpg")  50% 20em repeat fixed ; 
	} 
	footer { 
		background:    url("/images/helix-nebula-1400x1400.xxs.jpg") 50% 10% repeat fixed ; 
	} 
	footer a {
	border-radius:.2em;
	margin:.2em;
	padding:.2em;
  }
  .c2 { display:none; }
  .c2-alt { display:initial; }
}

