

body {
	background-color: black;
	color: #D0FFD0;
	font-family: 'Arial', cursive;
	padding: 0em;
}

.iconsmall { max-height: 1.3em; max-width: 1.3em; } 

input, textarea, checkbox { 
    color: #FFFFA0;
	background: black;
   }

header {
	border-radius:10px;
	margin: 1em;
	padding: 3em;
	padding-top: 5em;
	display: block;
	background: url("/images/helix-nebula-1400x1400.s.jpg") 50% 0 repeat fixed;
	min-height: 10em;
	}

nav {
	border-radius:10px;
	margin: 1em;
	padding: 1em;
	display: block;
	background: url("/images/live-concert-388160_1280.s.jpg") 50% 0 repeat fixed ;
	min-height: 10em;
}

main {
	border-radius:10px;
	margin: 1em;
	padding: 1em;
	display: block;
	background: url("/images/musician-923526_1280.s.jpg") 50% 0 repeat fixed ;
	min-height: 10em;
	}

footer {
	border-radius:10px;
	margin: 1em;
	padding: 1em;
	display: block;
	background: url("/images/helix-nebula-1400x1400.s.jpg") 50% 0 repeat fixed ;
	min-height: 10em;
	clear: both;
	font-size: smaller;
	justify-content: center;
}
footer a {
	background-color: rgba(0,0,40,.8); 
	border-radius:5px;
	margin:.5em;
	padding:.5em;
  }

footer img { max-height: 2em; }
#gspacer { 
	background-color: rgba(0,0,40,.8); 
	border-radius:5px;
	margin:.5em; padding:1em; display: inline-block }
fieldset {
	background-color: rgba(32,16,16,0.8);
	border-radius:5px; border: solid 1px #000060;
} 

video, img {
	max-width:100%;
	max-height:75%;
	padding: .5em;
	}

aside { 
	display: inline-block;
	float: right;
	max-width: 40em;
}

.postpreview {
	display: inline-block;
	max-width: 40em;
	padding: .5em;
	margin: .5em;
	background-color: rgba(32,32,64,0.8);
	border-radius:10px;
}
.postpreview video, .postpreview img {
	max-width:100%;
	max-height:5em;
	}
.post { 
	display:block;
	margin:1em;
	padding:1em;
	background-color: rgba(32,32,64,0.8);
	color: #aaa;
	border-radius:10px;
	}
.hiddenpost { background-color: rgba(16,16,0,0.3); }
.fullwidth { width: 100%;  }

textarea.fullwidth { min-height:10em; }

.thanks  { 
	max-width: 10%;
	text-align: center;
	font-size:smaller;
	display:inline;
	bottom:0;
}


.panel,.bshpanel, aside {
	background-color: rgba(32,16,16,0.8);
		border-radius:5px; 
		margin:.5em;
		padding: .5em;
}


.hint {
	display: inline;
	font-style: italic;
	font-size: smaller;
}
.hint::before { 
content: "(";
}
.hint::after { 
content: ")";
}


h1 img { vertical-align: text-top; 
	}

a {
	text-decoration: none;
	color: #B0B080;
   background-color:rgba(20,0,20,0.5);
   text-decoration: underline;
}

a:hover  {
	text-decoration: underline;
}
a:visited {
	color: #90B090;
}
label {
	font-size: medium;
}

.message, #message {
	font-size: large;
	background-color: rgba(0,64,0,0.1);
	}
.dirty { 
	background-color: rgba(128,128,0,0.3);
}
.error, #error {
	color: #f88;
	font-size: large;
	background-color: rgba(128,0,0,0.3);
}
.validation-summary-errors{
	color: #f88;
	background-color: rgba(64,0,0,0.3);
}


.hidden { display:none; }

ul.preview li:nth-child(-n+10) {
   display:inline;
	font-size:xx-small;
}

ul.preview li:nth-child(n) {
	display:none;
}

.validation-summary-errors{
	color: #f88;
}

usertitleref {
}

.actionlink {
	color: #B0B080;
	border-radius: 5px;
   background-color:rgba(0,0,32,0.8);
   cursor: pointer;
   font-family: 'Arial', cursive;
	padding: .2em;
}

input, select { 
	color: #B0B080;
	border: solid 1px rgb(128,128,128);
	border-radius:5px;
   background-color:rgba(0,0,32,0.8);
   font-family: 'Arial', cursive;
}

a.actionlink img { top:4px; }

.actionlink:hover {
	background-color:rgba(30,0,124,0.9);
    text-decoration: underline;
}

.code {
	font-family: "monospace";
	background-color: rgba(0,0,256,0.1);
	border-radius:25px;
	white-space: pre-wrap;
}

.avatar {
	max-width: 64px;
	max-height: 64px;
}

.comment {
	border-radius:25px;
	font-size: smaller;
	}


.menuitem {
	background-color: rgba(0,0,40,.8); 
	border-radius:5px;
	margin:.5em;
	padding:.5em;
	display: inline-block; 
}

.onhover {
	display:none; 
	position: absolute;
}

.ohafter:hover + .onhover, .ohinside:hover > .onhover {
   display:block; 
   z-index:2; 
	 padding:5px; margin:5px;
   background-color: rgba(0,0,40,.8); 
}

.input-validation-error { border: solid 1px red; }
.field-validation-error { color: red; }

.c2 { font-size: small; font-style: italic; }
.c3 { font-size: x-small; font-style: italic; }

@media print {
		body {background-color:white;color:black;}
		header,footer,.postcomment,.actionlink,nav
		{ display:none;} 
	}

@media all and (min-width: 641px) {
	.bshpanel { display:block; }
  .bsh { display: none; }
  .c3 { display:initial; }
  .c3-alt { display:none; }


	}

@media all and (max-width: 640px) {


.menuitem {
	display: block; 
}

.bshpanel { cursor:zoom-in; }
  footer {
		clear:both;
  }
 

	.c2 { display:initial; }
	.c2-alt { display:none; }
	.c3 { display:none; }
	.c3-alt { display:initial; }
}

@media all and (max-width: 350px) {
  .c2 { display:none; }
  .c2-alt { display:initial; }
}

