@model Yavsc.Models.Workflow.UserActivity

@{
    ViewData["Title"] = "Create";
}

<h2>Create</h2>

<form asp-action="Create">
    <div class="form-horizontal">
        <h4>UserActivity</h4>
        <hr />
        <div asp-validation-summary="ValidationSummary.ModelOnly" class="text-danger"></div>

        <input type="hidden" asp-for="UserId" />
        <div class="form-group">
            <label asp-for="DoesCode" class="col-md-2 control-label"></label>
            <div class="col-md-10">
                <select asp-for="DoesCode" asp-items=@ViewBag.DoesCode class ="form-control"></select>

                <span asp-validation-for="DoesCode" class="text-danger" />
            </div>
        </div>

        <div class="form-group">
            <label asp-for="Weight" class="col-md-2 control-label"></label>
            <div class="col-md-10">
                <input asp-for="Weight" class ="form-control" />
                <span asp-validation-for="Weight" class="text-danger" />
            </div>
        </div>
        <div class="form-group">
            <div class="col-md-offset-2 col-md-10">
                <input type="submit" value="Create" class="btn btn-default" />
            </div>
        </div>
    </div>
</form>

<div>
    <a asp-action="Index">Back to List</a>
</div>

