@using Yavsc.Abstract.Identity
@model ApplicationUser
@{
    var avuri = "/Avatars/" + Model.UserName + ".s.png";
}
<div class="userinfo">
    <a title="Posts" asp-controller="Blogspot" asp-action="Index" asp-route-id="@Model.UserName" class="btn btn-primary">
        <img src="@avuri" asp-append-version="true" class="smalltofhol" alt="@Model.UserName" title="@Model.UserName" />
    </a>
</div>
