@model Yavsc.ViewModels.FrontOffice.PerformerProfileViewModel

<div class="performer @(Model.Active?"active":"inactive")">
    @Html.DisplayFor(m=>m.UserName)
    @if (!string.IsNullOrWhiteSpace(Model.SettingsClassName))
      {  await Html.RenderPartialAsync(Model.SettingsClassName, Model.Settings); }
    
    @if (Model.WebSite!=null) { 
        <a target="yaext" href="@Model.WebSite" class="btn btn-info">WebSite: @Model.WebSite</a>
    }
</div>
