
@model Instrumentation

@{
    ViewBag.SettingLabel = SR["Yavsc.Models.Musical.Profiles.Instrumentation"];
    ViewData["Title"] = SR[ViewBag.SettingLabel] + "[" +SR["Set"] + "]" ;
}

<h2>@ViewData["Title"]</h2>

<form asp-action="Create">
    <div class="form-horizontal">
        <h4></h4>
        <hr />
        <div asp-validation-summary="ModelOnly" class="text-danger"></div>

        <input asp-for="UserId" type="hidden">
        <div class="form-group">
            <div class="col-md-10">
            @System.Globalization.CultureInfo.CurrentUICulture.TextInfo.ToTitleCase(SR["nouvel instrument"])
    
        <select asp-for="InstrumentId" asp-items=@ViewBag.YetAvailableInstruments>
        </select>

        <div class="form-group">
            <div class="col-md-offset-2 col-md-10">
                <input type="submit" value="Create" class="btn btn-default" />
            </div>
        </div>
    </div>
</form>

<div>
    <a asp-action="Index">Back to List</a>
</div>

@section Scripts {
    <script src="~/lib/jquery-validation/jquery.validate.min.js"></script>
    <script src="~/lib/jquery-validation-unobtrusive/jquery.validate.unobtrusive.min.js"></script>
}
