@model Instrumentation

@{
   
    ViewBag.SettingLabel = SR["Yavsc.Models.Musical.Profiles.Instrumentation"];
    ViewData["Title"] = SR[ViewBag.SettingLabel] + "[" +SR["Details"] + "]" ;
}
@{
    bool existingInstrument = Model.
}
<h2>@SR["Details"]</h2>

<div>
    <h4>MusicianSettings</h4>
    <hr />
    <dl class="dl-horizontal">
        <dt>Instruments</dt>
        <dd>@Html.DisplayFor(m=>m.Instrumentation)</dd>
    </dl>
</div>
<p>
    <a asp-action="Edit" asp-route-id="@Model.UserId">Edit</a> |
    <a asp-action="Index">@SR["Back to List"]</a>
</p>
