@using System.Security.Claims
@inject SignInManager<ApplicationUser> SignInManager
@inject UserManager<ApplicationUser> UserManager

@if (SignInManager.IsSignedIn(User))
{
        <li class="dropdown">
            <a class="dropdown-toggle navbar-link" data-toggle="dropdown" role="button" aria-haspopup="true" aria-expanded="false">
                Plateforme <span class="caret"></span>
            </a>
            <ul class="dropdown-menu">
                <li><a asp-controller="Bug" asp-action="Index">Bugs</a></li>
                <li><a asp-controller="HyperLink" asp-action="Index">HyperLink</a></li>
                <li><a asp-controller="LiveFlow" asp-action="Index">LiveFlow</a></li>
                <li><a asp-controller="Feature" asp-action="Index">Features</a></li>
            </ul>
        </li>
        @if (User.IsInRole(Constants.AdminGroupName)) {
        <li class="dropdown">
            <a class="dropdown-toggle" data-toggle="dropdown" role="button" aria-haspopup="true" aria-expanded="false">
                Administration <span class="caret"></span>
            </a>
            <ul class="dropdown-menu">
                <li><a asp-controller="Administration" asp-action="Index">Index</a></li>
                <li><a asp-controller="Activity" asp-action="Index">Activités</a></li>
                <li><a asp-controller="CommandForms" asp-action="Index">Formulaires</a></li>
                <li><a asp-controller="Notifications" asp-action="Index">Notifications</a></li>
                <li><a asp-controller="SIRENExceptions" asp-action="Index">Excéptions au numéro de SIREN</a></li>
                <li><a asp-controller="Client" asp-action="Index">Accès API</a></li>
                <li><a asp-controller="MailingTemplate" asp-action="Index">Emailing</a></li>
            </ul>
        </li>}
    <li>
        <a asp-controller="Manage" class="navbar-link" asp-action="Index" title="Manage">
            <img src="/avatars/@(User.GetUserName()).xs.png" asp-append-version="true" class="smalltofhol" />
        </a>
    </li>
    <li>
        <a class="navbar-link"asp-area="Identity" asp-page="/Account/Manage/Index" title="Manage">
          Hello @UserManager.GetUserName(User)!</a>
    </li>
    <li>
        <form class="form-inline" asp-area="Identity" asp-page="/Account/Logout" asp-route-returnUrl="@Url.Action("Index", "Home", new { area = "" })">
            <button type="submit" class="navbar-link">Logout</button>
        </form>
    </li>
}
else
{
    <li>
        <a class="navbar-link" asp-area="Identity" asp-page="/Account/Register">Register</a>
    </li>
    <li class="navbar-link">
        <a class="navbar-link" asp-area="Identity" asp-page="/Account/Login">Login</a>
    </li>
}
