

@using Yavsc.ViewModels.Account
@model SignInModel
@{
    ViewData["Title"] = "Log in";
}

<div class="jumbotron">
    <h1>@ViewData["Title"]</h1>
    <hr/>
    
    <h2 class="lead text-left">Use a local account to log in</h2>
      <form asp-action="SignIn" class="form-horizontal" role="form">
                <div asp-validation-summary="All" class="text-danger"></div>
                <div class="form-group">
                    <label for="EMail" class="col-md-2 control-label">EMail</label>
                    <div class="col-md-10">
                        <input asp-for="EMail" class="form-control"  autocomplete="email" aria-required="true" placeholder="name@example.com" />
                        <span asp-validation-for="EMail" class="text-danger"></span>
                    </div>
                </div>
                <div class="form-group">
                    <label for="Password" class="col-md-2 control-label">Password</label>
                    <div class="col-md-10">
                        <input asp-for="Password" class="form-control" autocomplete="current-password" aria-required="true" placeholder="password" />
                        <span asp-validation-for="Password" class="text-danger"></span>
                    </div>
                </div>
                <div class="form-group">
                    <div class="col-md-offset-2 col-md-10">
                        <div class="checkbox">
                            <input asp-for="RememberMe" />
                        <label for="RememberMe" class="control-label">Remember me</label>
                        </div>
                    </div>
                </div>
                <div class="form-group">
                    <div class="col-md-offset-2 col-md-10">
                        <button type="submit" class="btn btn-lg btn-success" name="submit.Signin">Login</button>
                    </div>
                </div>
                <p>
                    <a asp-action="Register" asp-controller="Account">Register as a new user?</a>
                </p>
                <p>
                    <a asp-action="ForgotPassword" asp-controller="Account">Forgot your password</a>
                </p>
                <input type="hidden" name="Provider" value="LOCAL" />
                <input type="hidden" name="ReturnUrl" value="@Model.ReturnUrl" />
                
                @Html.AntiForgeryToken()
            </form>

    <hr/>
    <h2 class="lead text-left">Use another service to log in:</h2>
    
</div>
