@{
    ViewData["Title"] = "Succès de la création du compte";

}

<h1>@ViewData["Title"]</h1>

Votre compte a été créé.
Vous devrez confirmer votre addresse e-mail.

<a asp-action="Index" asp-controller="Home">Retourner à l'accueil</a>
