@model UnregisterViewModel
@{
    ViewData["Title"] = "Unregister";
}

<h2>@ViewData["Title"].</h2>

<form asp-controller="Account" asp-action="Delete" method="post" class="form-horizontal" role="form">

    @Html.Hidden("ReturnUrl")
    @Html.Hidden("UserId")
    <input type="submit" value="Unregister"]" class="btn btn-default"/>
</form>

