@model ForgotPasswordViewModel

<form asp-controller="Account" asp-action="ForgotPassword">
    <div class="form-group">
        <label asp-for="LoginOrEmail"></label>
        <input class="form-control" placeholder="LoginOrEmail" asp-for="LoginOrEmail" autofocus>
    </div>
    <button class="btn btn-primary" name="button" value="send">Send me a recovery link</button>
</form>
