@model ResetPasswordViewModel

<form asp-route-id="@Model.Id" asp-route-code="@Model.Code">
    <p>@Model.Email</p>
    <div class="form-group">
        <label asp-for="Password"></label>
        <input class="form-control" placeholder="Password" asp-for="Password" autofocus>
    </div>
    <div class="form-group">
        <label asp-for="ConfirmPassword"></label>
        <input class="form-control" placeholder="ConfirmPassword" asp-for="ConfirmPassword" autofocus>
    </div>
    <button class="btn btn-primary" name="button" value="Reset">Reset Password</button>

</form>
