@{
    ViewData["Title"] = @SR["À propos des restrictions d'accès"];
}
<h1>@ViewData["Title"]</h1>

<asciidoc>

# Blog et fichiers utilisateurs

Par défaut, un envoi à destination du serveur est privé, visible seulement pour son possesseur (et l'administration).

L'utilisateur peu publier chacun de ces derniers à l'adresse : 

* de tout le monde,
* ou d'une liste de cercles d'utilisateurs,
* ou de personne

Quand il s'agit d'un fichier, son adresse permanente relative à la racine du serveur web est: `/UserFiles/(Nom Utilisateur)/(cheminVersLeFichier)`

Les restrictions d'accès à ce fichier sont celles associées à tous les fichiers du même dossier. 
Il n'y a pas de regle assiciée à chaque fichier individuellement, 
elles appartiennent au dossier qui les contient.

Les billet de blog sont regroupés par utilisateur, à l'Url

    /Blog/(Nom d'Utilisateur)

Ils sont aussi regroupés par titre :

    /Title/(Titre de post)

Et ils possèdent une addresse permanente de la forme :

    /Blogspot/Details/(Id Numerique De Post)



</asciidoc>
