@{
    ViewData["Title"] = "Dash";
}

<div>
    <video id="videoPlayer" controls></video>
</div>

@section scripts {
<script src="~/js/dash.all.min.js"></script>
<script>
    (function(){
        var url = "https://dash.akamaized.net/envivio/EnvivioDash3/manifest.mpd";
        var player = dashjs.MediaPlayer().create();
        player.initialize(document.querySelector("#videoPlayer"), url, true);
    })();
</script>
}

