@{
    ViewData["Title"] = @SR["Confidentialité"]+" "+@SiteSettings.Value.Title;
}
<h1>@ViewData["Title"]</h1>

<asciidoc>
## La confidentialité

À aucun moment, aucune adresse postale, aucune adresse e-mail ni aucun numéro de téléphone
ne sont transmis à personne. Seul le système et son [possesseur](/Home/Contact) a accès à ces informations.

De plus, le droit de retrait est permanent et sa mise en oeuvre [immédiate](/Account/Delete).

</asciidoc>
