@{
    ViewData["Title"] = "Todo (first)";
}
<h1>@ViewData["Title"]</h1>
<em>Linkmuse(trox)</em>

<markdown>
Les tags.
La librairie, les lives.
</markdown>
@{
    ViewData["Title"] = "TODO";
}
<h1>@ViewData["Title"]</h1>
<em>Faster, stronger, shorter</em>
<markdown>
</markdown>
