

.skillname { 
	background-color: rgba(16,16,64,0.8);
	 border-color: #aaf;
}

body {
	font-family: 'Open Sans', sans-serif;
	background-color: black;
	color: #D0FFD0;
}


.rate {
	border: solid  rgb(128,128,0) 1px;
   background-color: rgba(20,20,20,.8); 
	color: yellow;
}
.rate:hover { border-color: green; 
	background-color:rgba(30,0,124,0.9); } 

input, textarea, checkbox { 
    color: #FFFFA0;
	background-color: black;
   }

header {
	background: url("/App_Themes/images/star-939235_1280.jpg") -3em -3em no-repeat fixed;
	}

header h1, header a {
background-color: rgba(0,0,0,.5); 
}

nav {
	background: url("/App_Themes/images/helix-nebula-1400x1400.s.jpg") 50% 10% repeat fixed ;
}

main {
	background: url("/App_Themes/images/p8-av4.png") 50% 20em no-repeat fixed ;
	}

footer {
	background: url("/App_Themes/images/helix-nebula-1400x1400.s.jpg") 50% 90% repeat fixed ;
}

#copyr {  background-color: rgba(20,20,20,.8); }

fieldset {
	background-color: rgba(16,16,64,0.8);
	border-color: #000060;
} 

legend {
	background-color: rgba(0,0,32,.5);
  }

#gspacer { 
	background-color: rgba(20,20,20,.8); 
	 }

.postpreview {
	background-color: rgba(0,0,32,0.8);
}
.post { 
	background-color: rgba(0,0,32,0.8);
	color: #eee;
	}
.hiddenpost { background-color: rgba(16,16,16,0.5); }


.panel,.bshpanel, aside {
	background-color: rgba(20,20,20,.8); 
}

.usertitleref {
   background-color:rgba(0,0,32,0.6);
}
.editable {
	border-color: rgb(020,20,256); 
}

.notification {
	background-color: rgba(64,64,0,0.5);
	border-color:  green ;
	}
.dirty { 
	background-color: rgba(128,128,0,0.5);
}
.error, #error {
	color: #f88;
	background-color: rgba(256,0,0,0.5);
}
.validation-summary-errors{
	color: #f88;
	background-color: rgba(256,0,0,0.5);
}

.validation-summary-errors{
	color: #f88;
}

a {
   text-decoration: none;
}

.actionlink, .menuitem, a {
	border-color: rgb(128,128,0);
   background-color: rgba(20,20,20,.8); 
	color: yellow;
}

input, select, textarea { 
	color: white;
	background-color:rgba(0,0,64,0.8);
	border-color: rgb(128,128,128);
}

a:hover {
	background-color:rgba(30,0,124,0.9);
	border-color: green ;
}
a:active { 
	background-color:rgba(124,0,32,0.9);
}

input:hover, textarea:hover {
	color: white;
	background-color:rgba(64,64,64,0.8);
}
.code {
	background-color: rgba(0,0,256,0.1);
}


@media all and (max-width: 640px) {
header {
	padding-top:1em;
	padding-bottom:1em;
	background: url("/App_Themes/images/star-939235_1280.s.jpg") 0 0 no-repeat fixed;
	}
		
#avatar { 
 	margin:.5em;
 }

header h1, header a , .actionlink, .menuitem, a { padding:.5em;}

	nav {
	margin: 1em;
		padding: 1em;
		background:    url("/App_Themes/images/helix-nebula-1400x1400.s.jpg") 50% 10% repeat fixed ; 
	}
	main { 
	margin: 1em;
	padding: 1em;
	background: url("/App_Themes/images/p8-av4.s.jpg") 50% 20em no-repeat fixed ;
	} 
	footer { 
		background: url("/App_Themes/images/helix-nebula-1400x1400.s.jpg") 50% 90% repeat fixed ; 
	} 
	footer a {
	border-radius:.5em;
	margin:.5em;
	padding:.5em;
  }

  .notification { 
	padding: .5em;
	border-radius:.5em;
	margin:.5em;
	padding:.5em;
 }
	.menuitem {
		display: block; 
	}
	.post { 
	margin:.3em;
	padding:.3em;
	}
	.usertitleref{ 
	padding:.3em;
	}
  .bshpanel { cursor:zoom-in; }

	.c2 { display:initial; }
	.c2-alt { display:none; }
	.c3 { display:none; }
	.c3-alt { display:initial; }
}

@media all and (max-width: 350px) {
header {
	padding-top:.5em;
	padding-bottom:.5em;
	background: url("/App_Themes/images/star-939235_1280.xxs.jpg") 0 0 no-repeat fixed;
 }

header h1, header a { padding:.2em;}

	nav {
	margin: .5em;
		padding: .5em;
		background:    url("/App_Themes/images/helix-nebula-1400x1400.xxs.jpg") 50% 10% repeat fixed ; 
	}
	main { 
	margin: .5em;
	    padding: .5em;
		background:   url("/App_Themes/images/p8-av4.xxs.jpg")  50% 20em repeat fixed ; 
	} 
	footer { 
		background:    url("/App_Themes/images/helix-nebula-1400x1400.xxs.jpg") 50% 10% repeat fixed ; 
	} 
	footer a {
	border-radius:.2em;
	margin:.2em;
	padding:.2em;
  }
  .c2 { display:none; }
  .c2-alt { display:initial; }
}
