# Yavsc parameters

BASEAPPDIR=/srv/www/yavsc
USER_AND_GROUP=yavsc:yavsc
CONFIGURATION=Release
DOTNET_FRAMEWORK=net10.0

MODERATION_AUTO_REJECT_THRESHOLD=0.9
MODERATION_AUTO_APPROVE_THRESHOLD=0.7

ANTHROPIC_API_KEY=<votre-clé-api-anthropic>
ANTHROPIC_MAX_TOKENS=256  # la modération n'a pas besoin de plus

POSTGRES_HOST=localhost
POSTGRES_PORT=5432
POSTGRES_DB=db
POSTGRES_USER=pguser
POSTGRES_PASSWORD=pgpassword

ANTHROPIC_API_KEY=none
ANTHROPIC_MAX_TOKENS=0

ASPNETCORE_Smtp__Host="your.mail.host.name",
ASPNETCORE_Smtp__Port=465
ASPNETCORE_Smtp__SenderName"="You Name here"
ASPNETCORE_Smtp__SenderEmail"="your@email"
ASPNETCORE_Smtp__UserName"="your-smtp-user-name"
ASPNETCORE_Smtp__Password="Your pass"

ASPNETCORE_Kyc__HmacSecret=
