*/bin
*/obj
plugins/*/bin
plugins/*/obj
*.userprefs
packages
web/avatars
web/users
dist
bower_components
node_modules
svg
web/bfiles
web/App_Themes/style.totem.css
web/Web.Debug.config
web/Web.Release.config
web/Web.Lua.config
web/Web.LuaDebug.config
web/Web.TotemPre.config
web/Web.Totemprod.config
.nuget
.gitignore
web/Web.*.config


