*.pfx
*.userprefs
*.Private.cs
*-secret.json

.gitignore
.paket/
.vs/
.sass-cache/
.private/

/out
bin
obj
bower_components
node_modules/
private/

DataProtection-Keys/
RSA-Params.json
appsettings.*.json
omnisharp.json

DataProtection/

/packages/
/src/Yavsc/Avatars-*/
/src/Yavsc/Blog-*/
/src/Yavsc/Bills-*/
/src/Yavsc/AppData*/
/src/Yavsc/Temp-*/
/src/Yavsc/bower_components/
/src/Yavsc/Data-Dev/
/src/test/testingrepo/
connectionsettings.Development.json
appsettings.Development.json
/src/Yavsc/web.log
/yavscd
builds/
/test/yavscTests/test-results.xml
/test/yavscTests/test-results.html
/binaries/Debug/yavscd
yavsc-pre

