<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <packageSources>
    <clear />
    <add key="nuget.org" value="https://nuget.org" protocolVersion="3" />
    <add key="pschneider" value="https://pschneider.fr" protocolVersion="3" />
    <add key="dotnet10" value="https://azure.com" protocolVersion="3" />
    <add key="dotnet-public" value="https://azure.com" protocolVersion="3" />
  </packageSources>

  <!-- Configuration du Mapping Assouplie -->
  <packageSourceMapping>
    <packageSource key="nuget.org">
      <package pattern="*" />
    </packageSource>
    <packageSource key="pschneider">
      <package pattern="*" />
    </packageSource>
    <packageSource key="dotnet10">
      <package pattern="*" />
    </packageSource>
    <packageSource key="dotnet-public">
      <package pattern="*" />
    </packageSource>
  </packageSourceMapping>
</configuration>
