@using Yavsc.Interfaces;
@using System;
@model ITaggable<long>

<div class="container">
   
<div class="row">
<div class="col-xs-12">
    <ul>
    @foreach (string tag in (string[]) ViewData["Tags"]) {
        <li>@tag</li>
    }
    </ul>
</div>
</div>

   </div>