@model Yavsc.Models.Musical.Profiles.DjSettings

@{
    ViewData["Title"] = @SR["Create"];
}

<h2>@SR["Create"]</h2>

<form asp-action="Create">
    <div class="form-horizontal">
        <h4>DjSettings</h4>
        <hr />
        <div asp-validation-summary="ValidationSummary.ModelOnly" class="text-danger"></div>
        <div class="form-group">
            <label asp-for="SoundCloudId" class="col-md-2 control-label"></label>
            <div class="col-md-10">
                <input asp-for="SoundCloudId" class="form-control" />
                <span asp-validation-for="SoundCloudId" class="text-danger" ></span>
            </div>
        </div>
        <div class="form-group">
            <div class="col-md-offset-2 col-md-10">
                <input type="submit" value="Create" class="btn btn-default" />
            </div>
        </div>
    </div>
</form>

<div>
    <a asp-action="Index">@SR["Back to List"]</a>
</div>

