<a href="https://twitter.com/intent/tweet?screen_name=TwitterDev" 
class="twitter-mention-button" data-show-count="false">Tweet to &amp;TwitterDev</a>
<script async src="//platform.twitter.com/widgets.js" charset="utf-8"></script>
