@model IEnumerable<blog>

@{
    ViewData["Title"] = "Blog spot";
}

<div class="row">
    @foreach (var entry in Model) {
    <div class="col-md-3">
        <h2> @entry.Title</h2>
        <ul>
            <li>Sample pages using ASP.NET MVC 6</li>
        </ul>
    </div>
    }
</div>
