@model Client

@{
    ViewData["Title"] = "Edit";
}

<h2>@SR["Edit"]</h2>

<form asp-action="Edit">
    <div class="form-horizontal">
        <h4>Client</h4>
        <hr />
        <div asp-validation-summary="ModelOnly" class="text-danger"></div>
        <input type="hidden" asp-for="ClientId" />
        <div class="form-group">
            <div class="col-md-offset-2 col-md-10">
                <div class="checkbox">
                    <input asp-for="Enabled" />
                    <label asp-for="Enabled"></label>
                </div>
            </div>
        </div>
        <div class="form-group">
            <label asp-for="ClientName" class="col-md-2 control-label"></label>
            <div class="col-md-10">
                <input asp-for="ClientName" class="form-control" />
                <span asp-validation-for="ClientName" class="text-danger" ></span>
            </div>
        </div>
        <div class="form-group">
            <label asp-for="FrontChannelLogoutUri" class="col-md-2 control-label"></label>
            <div class="col-md-10">
                <input asp-for="FrontChannelLogoutUri" class="form-control" />
                <span asp-validation-for="FrontChannelLogoutUri" class="text-danger" ></span>
            </div>
        </div>
        <div class="form-group">
            <label asp-for="RedirectUris" class="col-md-2 control-label"></label>
            <div class="col-md-10">
                <input asp-for="RedirectUris" class="form-control" />
                <span asp-validation-for="RedirectUris" class="text-danger" ></span>
            </div>
        </div>
        <div class="form-group">
            <label asp-for="IdentityTokenLifetime" class="col-md-2 control-label"></label>
            <div class="col-md-10">
                <input asp-for="IdentityTokenLifetime" class="form-control" />
                <span asp-validation-for="IdentityTokenLifetime" class="text-danger" ></span>
            </div>
        </div>
        <div class="form-group">
            <label asp-for="AbsoluteRefreshTokenLifetime" class="col-md-2 control-label"></label>
            <div class="col-md-10">
                <input asp-for="AbsoluteRefreshTokenLifetime" class="form-control" />
                <span asp-validation-for="AbsoluteRefreshTokenLifetime" class="text-danger" ></span>
            </div>
        </div>
        <div class="form-group">
            <label asp-for="ClientSecrets" class="col-md-2 control-label"></label>
            <div class="col-md-10">
                <input asp-for="ClientSecrets" class="form-control" />
                <span asp-validation-for="ClientSecrets" class="text-danger" ></span>
            </div>
        </div>
        <div class="form-group">
            <label asp-for="AccessTokenType" class="col-md-2 control-label"></label>
            <div class="col-md-10">
                @Html.DropDownList("Type")
                <span asp-validation-for="AccessTokenType" class="text-danger" ></span>
            </div>
        </div>
        <div class="form-group">
            <div class="col-md-offset-2 col-md-10">
                <input type="submit" value="Save" class="btn btn-default" />
            </div>
        </div>
    </div>
</form>

<div>
    <a asp-action="Index">@SR["Back to List"]</a>
</div>

