
body {
	background: black;
	background-image: url('/images/Banner.png');
	background-repeat: no-repeat;
	color: #D0FFD0;
	font-family: 'Arial', cursive;
}

textarea { 
        width:25em;
        height:5em;
        }

input, textarea, checkbox { 
    color: #FFFFA0;
	background: black;
   }

main {
	background-color: rgba(17,0,23,0.65);
	float:left;
}

fieldset {
	background-color: rgba(32,16,16,0.8);
	border-radius:5px; border: solid 1px #000060;
	float:left; 
} 

video,img {
	max-width:100%;
	max-height:75%;
    position:relative;
	}

footer {
	position:fixed;
	bottom:0;
	left:0;
	right:0;
	height:2.5em;
	background-color:rgba(16,0,0,0.8);
	display: flex;
	justify-content: space-around;
	z-index:-1;
}

#logo {
	float: left;

	}

.panel,.bshpanel,aside {
	background-color: rgba(32,16,16,0.8);
		border-radius:5px; border: solid 1px #000060;
		float: right;
}

.bsh { float: right; }



#login {
	top:0;
	right:0;
	background-color:rgba(16,16,0,0.8);
	justify-content: space-around;
	text-align: center;
	}


header {
	background-color:rgba(16,16,0,0.8);
	top:0;
	left:0;
	right:0;
	text-align: center;
	}
	 h1 img { 	vertical-align: text-top; }

footer img { max-height: 2em; }

a {
	text-decoration: none;
	color: #B0B080;
   background-color:rgba(20,0,20,0.5);
}

a:hover  {
	text-decoration: underline;
}
a:visited {
	color: #90B090;
}
label {
	font-size: medium;
}

.message {
	font-size: large;
	background-color: rgba(0,64,0,0.1);
	}
.error {
	color: #f88;
	font-size: large;
	background-color: rgba(128,0,0,0.3);
}
.validation-summary-errors{
	color: #f88;
	background-color: rgba(64,0,0,0.3);
}

.editblog {
	width: 95%;
	height: 95%;
}

.metablog {
	font-style: italic;
	font-size: small;
	text-align: right;
	display: inline;
}

.blogtitle {
	display:inline;
}

.contenu {
padding-left: 20px;
}

.validation-summary-errors{
	color: #f88;
}


input.actionlink, a.actionlink {
	color: #B0B080;
	border: solid 1px rgb(128,128,128);
	border-radius:5px;
   background-color:rgba(0,0,32,0.8);
   font-size:large;
   cursor: pointer;
   font-family: 'Arial', cursive;
}

a.actionlink img { top:4px; }

input.actionlink:hover, a.actionlink:hover {
	background-color:rgba(30,0,124,0.9);
    border : solid 1px white;
    text-decoration: underline;
}

.code {
	font-family: "monospace";
	background-color: rgba(0,0,256,0.1);
	border-radius:25px;
	white-space: pre-wrap;
}

.avatar {
	max-width: 64px;
	max-height: 64px;
}

.hidden {
	display:none;
	}

	.shoh { display:inline; }


.hiduh {
	display:none;
	}
	.shoh:hover { 
	background-color: rgba(0,60,40,.3); 
	border: solid rgb(256,256,0);
	}
.shoh:hover + .hiduh {
   display:block; position:absolute; left:20px; right:20px;
   background-color: rgb(0,0,40); border: solid rgb(256,256,0);
   }

.comment {
	border-radius:25px;
	border-width:1px;
        border-style: solid;
	border-color:rgb(0,64,0);
	font-size: smaller;
	}

.hidcom {
	display:none; position:fixed; z-index:2; 
	 padding:5px; margin:5px;
   background-color: rgba(0,0,40,.8); 
}

a.actionlink:hover + .hidcom {
   display:block; 
}

.input-validation-error { border: solid 1px red; }
.field-validation-error { color: red; }

@media print {
		body {background-color:white;color:black;}
		header,footer,.postcomment,.actionlink,.metablog{ display:none;} 
	}
@media all and (min-width: 641px) {
	.bshpanel { display:block; }
  .bsh { display: none; }
	}
@media all and (max-width: 640px) {
  
	.bshpanel { cursor:zoom-in; }

.bshd:hover > .bshpanel {
  display: block;
	}
	.bshd:hover > .bsh {
  display: none;
	}
  footer img {
    max-height: 1.2em;
    }
  footer {
    font-size: small;
    height: 1.5em;
  }

  body { font-size: smaller; }
	}

	@media all and (max-width: 350px) {
	  footer img { max-height: 0.8em; }
	  footer { font-size: x-small; height: 1em; }
	}

}



