<?xml version="1.0" encoding="utf-8"?>
<packages>
    
  <package id="Microsoft.AspNet.Server.Kestrel" version="1.0.0-rc1-final" targetFramework="net451" />
  <package id="EntityFramework.Relational.Design" version="7.0.0-rc1-final" targetFramework="net451" />
  <package id="Microsoft.AspNet.Hosting" version="1.0.0-rc1-final" targetFramework="net451" />
  <package id="Microsoft.AspNet.Hosting.Abstractions" version="1.0.0-rc1-final" targetFramework="net451" />

  <package id="EntityFramework.Core" version="7.0.0-rc1-final" targetFramework="net451" />
  <package id="EntityFramework.Relational" version="7.0.0-rc1-final" targetFramework="net451" />
  <package id="Microsoft.AspNet.Identity.EntityFramework" version="3.0.0-rc1-final" targetFramework="net451" />
  <package id="Microsoft.AspNet.Mvc" version="6.0.0-rc1-final" targetFramework="net451" />
  <package id="Microsoft.AspNet.Mvc.Razor" version="6.0.0-rc1-final" targetFramework="net451" />
  <package id="Microsoft.AspNet.Mvc.Razor.Host" version="6.0.0-rc1-final" targetFramework="net451" />

  <package id="Microsoft.Extensions.Localization" version="1.0.0-rc1-final" targetFramework="net451" />
  <package id="Microsoft.Extensions.Localization.Abstractions" version="1.0.0-rc1-final" targetFramework="net451" />
  <package id="Microsoft.CodeAnalysis.Analyzers" version="1.0.0" targetFramework="net451" />
  <package id="Microsoft.CodeAnalysis.Common" version="1.1.0-rc1" targetFramework="net451" />
  <package id="Microsoft.CodeAnalysis.CSharp" version="1.1.0-rc1" targetFramework="net451" />
  <package id="Microsoft.Dnx.Compilation.Abstractions" version="1.0.0-rc1-final" targetFramework="net451" />
  <package id="Microsoft.Dnx.Compilation.CSharp.Abstractions" version="1.0.0-rc1-final" targetFramework="net451" />
  <package id="Microsoft.Dnx.Compilation.CSharp.Common" version="1.0.0-rc1-final" targetFramework="net451" />
  <package id="Microsoft.Extensions.Caching.Abstractions" version="1.0.0-rc1-final" targetFramework="net451" />
  <package id="Microsoft.Extensions.Caching.Memory" version="1.0.0-rc1-final" targetFramework="net451" />
  <package id="Microsoft.Extensions.Configuration" version="1.0.0-rc1-final" targetFramework="net451" />
  <package id="Microsoft.Extensions.Configuration.Abstractions" version="1.0.0-rc1-final" targetFramework="net451" />
  <package id="Microsoft.Extensions.Configuration.FileExtensions" version="1.0.0-rc1-final" targetFramework="net451" />
  <package id="Microsoft.Extensions.Configuration.Json" version="1.0.0-rc1-final" targetFramework="net451" />
  <package id="Microsoft.Extensions.DependencyInjection" version="1.0.0-rc1-final" targetFramework="net451" />
  <package id="Microsoft.Extensions.DependencyInjection.Abstractions" version="1.0.0-rc1-final" targetFramework="net451" />
  <package id="Microsoft.Extensions.Logging" version="1.0.0-rc1-final" targetFramework="net451" />
  <package id="Microsoft.Extensions.Logging.Abstractions" version="1.0.0-rc1-final" targetFramework="net451" />
  <package id="Microsoft.Extensions.MemoryPool" version="1.0.0-rc1-final" targetFramework="net451" />
  <package id="Microsoft.Extensions.OptionsModel" version="1.0.0-rc1-final" targetFramework="net451" />
  <package id="Microsoft.Extensions.PlatformAbstractions" version="1.0.0-rc1-final" targetFramework="net451" />
  <package id="Microsoft.Extensions.Primitives" version="1.0.0-rc1-final" targetFramework="net451" />
  <package id="Microsoft.Framework.ConfigurationModel" version="1.0.0-beta4" targetFramework="net451" />
  <package id="Microsoft.Framework.ConfigurationModel.Interfaces" version="1.0.0-beta4" targetFramework="net451" />
  <package id="Microsoft.Framework.ConfigurationModel.Json" version="1.0.0-beta4" targetFramework="net451" />
  <package id="Newtonsoft.Json" version="9.0.1" targetFramework="net451" />
  <package id="Remotion.Linq" version="2.0.1" targetFramework="net451" />
  <package id="System.Collections" version="4.0.11" targetFramework="net451" />
  <package id="System.Collections.Immutable" version="1.1.37" targetFramework="net451" />
  <package id="System.Diagnostics.Debug" version="4.0.11" targetFramework="net451" />
  <package id="System.Diagnostics.DiagnosticSource" version="4.0.0-beta-23516" targetFramework="net451" />
  <package id="System.Diagnostics.Tracing" version="4.0.0" targetFramework="net451" />
  <package id="System.Globalization" version="4.0.11" targetFramework="net451" />
  <package id="System.IO" version="4.0.0" targetFramework="net451" />
  <package id="System.Linq" version="4.1.0" targetFramework="net451" />
  <package id="System.Reflection" version="4.1.0" targetFramework="net451" />
  <package id="System.Reflection.Extensions" version="4.0.0" targetFramework="net451" />
  <package id="System.Reflection.Metadata" version="1.1.0" targetFramework="net451" />
  <package id="System.Reflection.Primitives" version="4.0.0" targetFramework="net451" />
  <package id="System.Resources.ResourceManager" version="4.0.1" targetFramework="net451" />
  <package id="System.Runtime" version="4.0.0" targetFramework="net451" />
  <package id="System.Runtime.Extensions" version="4.1.0" targetFramework="net451" />
  <package id="System.Runtime.InteropServices" version="4.1.0" targetFramework="net451" />
  <package id="System.Text.Encoding" version="4.0.0" targetFramework="net451" />
  <package id="System.Text.Encoding.Extensions" version="4.0.0" targetFramework="net451" />
  <package id="System.Threading" version="4.0.0" targetFramework="net451" />
  <package id="Yavsc.Abstract" version="1.0.5-rc9" targetFramework="net451" />
  <package id="Yavsc.Server" version="1.0.5-rc9" targetFramework="net451" />
</packages>