@model Yavsc.Models.Musical.Profiles.GeneralSettings

@{
    ViewData["Title"] = "Details";
}

<h2>Details</h2>

<div>
    <h4>GeneralSettings</h4>
    <hr />
     @if (Model!=null) {
    <dl class="dl-horizontal">
    </dl>
<p>
     <a asp-action="Delete" asp-route-id="@Model.UserId">@SR["Delete"]</a>
</p>
    }
    else {
    <p>
        @SR["Aucun profile renseigné"]
        <a asp-action="Create" class="btn btn-success">@SR["Renseigner ce paramêtrage"]</a> 
    </p>
    }
</div>
