@model Yavsc.Models.Billing.ExceptionSIREN

@{
    Layout = null;
}

<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>Edit</title>
</head>
<body>

<form asp-action="Edit">
    <div class="form-horizontal">
        <h4>ExceptionSIREN</h4>
        <hr />
        <div asp-validation-summary="ValidationSummary.ModelOnly" class="text-danger"></div>
        @Html.DisplayFor(model => model.SIREN) : 
        
        <div class="form-group">
            <div class="col-md-offset-1 col-md-10">
                 @Html.InputFor(model => model.SIREN) 
                </div>
            <div class="col-md-offset-2 col-md-10">
                <input type="submit" value="Save" class="btn btn-default" />
            </div>
        </div>
    </div>
</form>

<div>
    <a asp-action="Index">Back to List</a>
</div>

</body>
</html>
