@model IEnumerable<Yavsc.Models.Billing.ExceptionSIREN>

<p>
    <a asp-action="Create">Create New</a>
</p>
<table class="table">
    <tr>
        <th>Exceptions à la validation des code SIREN</th>
    </tr>
    
@foreach (var item in Model) {
    <tr>
        <td>@item.SIREN</td>
        <td>
            <a asp-action="Details" asp-route-id="@item.SIREN">Details</a> |
            <a asp-action="Delete" asp-route-id="@item.SIREN">Delete</a>
        </td>
    </tr>
}
</table>
