@{
    ViewData["Title"] = "Confirmation de votre adresse e-mail";
}

<h2>@ViewData["Title"].</h2>
<div>
    <p>
        Merci d&rsquo;avoir confirmé votre e-mail. 
        @if (User.GetUserId()==null) {
         <text>S&rsquo;il vous plait, 
        <a asp-controller="Account" asp-action="Login">Cliquez ici pour vous connecter</a>.
        </text>
        }
    </p>
</div>
