@model Yavsc.Abstract.Manage.EmailSentViewModel

@{
    ViewData["Title"] = "S'il vous plait, veuillez confirmer votre adresse e-mail";
}

<h2>@ViewData["Title"].</h2>
<div>
    <p>
        Un message vient de vous être envoyé, à votre adresse e-mail ( @Model.Email , id:@Model.MessageId ),
        Veuillez s&rsquo;il vous plait confirmer cette adresse de courrier en utilisant le lien hyper-texte qui s'y trouve.
    </p>
</div>
