@using Microsoft.IdentityModel.Protocols.Configuration
@model SiteSettings
<h2>Contact</h2>

<p>@Model.Owner.Name </p>

@Html.DisplayFor(m=>m.Owner.PostalAddress)

<address>
    <strong>Support:</strong> <a href="mailto:@Model.Admin.EMail">@(Model.Admin.Name)&lt;@(Model.Admin.EMail)&gt;</a><br />
    <strong>Marketing:</strong> <a href="mailto:@Model.Owner.EMail">@(Model.Owner.Name)&lt;@(Model.Owner.EMail)&gt;</a>
</address>
