@{
    ViewData["Title"] = @Localizer["Todo (first)"];
}
<h1>@ViewData["Title"]</h1>
<em>Linkmuse(trox)</em>

<asciidoc>
Les tags.
La librairie, les lives.
</asciidoc>
@{
    ViewData["Title"] = @Localizer["TODO"];
}
<h1>@ViewData["Title"]</h1>
<em>Faster, stronger, shorter</em>
<asciidoc>
</asciidoc>
