@model CircleMember

@{
    ViewData["Title"] = "Create";
}

<h2>Create</h2>

<form asp-action="Create">
    <div class="form-horizontal">
        <h4>@SR["CircleMember"]</h4>
        <hr />

        @Html.ValidationSummary() 

        <select asp-for="CircleId" asp-items="@ViewBag.CircleId" >
        </select>

        <select asp-for="MemberId" asp-items="@ViewBag.MemberId" >
        </select>

        <div asp-validation-summary="ValidationSummary.ModelOnly" class="text-danger"></div>
        <div class="form-group">
            <div class="col-md-offset-2 col-md-10">
                <input type="submit" value="Create" class="btn btn-default" />
            </div>
        </div>
    </div>
</form>

<div>
    <a asp-action="Index">Back to List</a>
</div>

