@model CircleMember

@{
    ViewData["Title"] = $"{Model.Member.UserName}, du cercle {Model.Circle.Name}" ;
}

<h2></h2>

<div>
    <h4>Un membre du cercle @Model.Circle.Name</h4>
    <hr />
        @Html.DisplayFor(m=>Model.Member)
</div>
<p>
    @Html.ActionLink("Delete", "Delete", new { id = Model.CircleId }) |
    <a asp-action="Index">Back to List</a>
</p>
