<?xml version="1.0" encoding="utf-8"?>
<configuration>
<configSections>
    <sectionGroup name="system.web.extensions" type="System.Web.Configuration.SystemWebExtensionsSectionGroup, System.Web.Extensions, Version=4.0.0.0, Culture=neutral, PublicKeyToken=31BF3856AD364E35">
      <sectionGroup name="scripting" type="System.Web.Configuration.ScriptingSectionGroup, System.Web.Extensions, Version=4.0.0.0, Culture=neutral, PublicKeyToken=31BF3856AD364E35">
        <section name="scriptResourceHandler" type="System.Web.Configuration.ScriptingScriptResourceHandlerSection, System.Web.Extensions, Version=4.0.0.0, Culture=neutral, PublicKeyToken=31BF3856AD364E35" requirePermission="false" allowDefinition="MachineToApplication" />
        <sectionGroup name="webServices" type="System.Web.Configuration.ScriptingWebServicesSectionGroup, System.Web.Extensions, Version=4.0.0.0, Culture=neutral, PublicKeyToken=31BF3856AD364E35">
          <section name="jsonSerialization" type="System.Web.Configuration.ScriptingJsonSerializationSection, System.Web.Extensions, Version=4.0.0.0, Culture=neutral, PublicKeyToken=31BF3856AD364E35" requirePermission="false" allowDefinition="Everywhere" />
          <section name="profileService" type="System.Web.Configuration.ScriptingProfileServiceSection, System.Web.Extensions, Version=4.0.0.0, Culture=neutral, PublicKeyToken=31BF3856AD364E35" requirePermission="false" allowDefinition="MachineToApplication" />
          <section name="authenticationService" type="System.Web.Configuration.ScriptingAuthenticationServiceSection, System.Web.Extensions, Version=4.0.0.0, Culture=neutral, PublicKeyToken=31BF3856AD364E35" requirePermission="false" allowDefinition="MachineToApplication" />
          <section name="roleService" type="System.Web.Configuration.ScriptingRoleServiceSection, System.Web.Extensions, Version=4.0.0.0, Culture=neutral, PublicKeyToken=31BF3856AD364E35" requirePermission="false" allowDefinition="MachineToApplication" />
        </sectionGroup>
      </sectionGroup>
    </sectionGroup>
    <section name="log4net" type="log4net.Config.Log4NetConfigurationSectionHandler, log4net" />
    <sectionGroup name="system.web">
      <section name="membership" type="System.Web.Configuration.MembershipSection, System.Web" />
      <section name="blog" type="Yavsc.Model.DataProviderConfigurationSection, YavscModel" allowLocation="true" requirePermission="false" allowDefinition="Everywhere" />
      <section name="thanks" type="Yavsc.ThanksConfigurationSection, Yavsc" allowLocation="true" requirePermission="false" allowDefinition="Everywhere" />
      <section name="catalog" type="Yavsc.Model.FrontOffice.Configuration.CatalogProvidersConfigurationSection, YavscModel" allowLocation="true" requirePermission="false" allowDefinition="Everywhere" />
      <section name="workflow" type="Yavsc.Model.DataProviderConfigurationSection, YavscModel" allowLocation="true" requirePermission="false" allowDefinition="Everywhere" />
      <section name="circleProviders" type="Yavsc.Model.DataProviderConfigurationSection, YavscModel" />
      <section name="userNameManager" type="Yavsc.Model.DataProviderConfigurationSection, YavscModel" />
    </sectionGroup>
    <section name="paypal" type="PayPal.SDKConfigHandler, PayPal" />
  </configSections>
 <system.data>
    <DbProviderFactories>
      <add name="Npgsql Data Provider" invariant="Npgsql" support="FF" description=".Net Framework Data Provider for Postgresql Server" type="Npgsql.NpgsqlFactory, Npgsql" />
    </DbProviderFactories>
  </system.data>
  <system.web>
    <authentication mode="Forms" >
      <forms loginUrl="login.aspx"
        name=".ASPXFORMSAUTH" />
    </authentication>
    <authorization>
      <deny users="?" />
    </authorization>
   <membership defaultProvider="NpgsqlMembershipProvider" userIsOnlineTimeWindow="1">
      <providers>
        <clear />
        <add name="NpgsqlMembershipProvider" type="Npgsql.Web.NpgsqlMembershipProvider, NpgsqlMRPProviders"
         connectionStringName="yavsc" enablePasswordRetrieval="false"
          enablePasswordReset="true" requiresQuestionAndAnswer="false"
           requiresUniqueEmail="true" passwordFormat="Clear" maxInvalidPasswordAttempts="5"
            minRequiredPasswordLength="6" minRequiredNonalphanumericCharacters="0"
             passwordAttemptWindow="10" applicationName="/" autogenerateschema="false" />
      </providers>
    </membership>
    <roleManager enabled="true" defaultProvider="NpgsqlRoleProvider">
      <providers>
        <clear />
        <add name="NpgsqlRoleProvider" connectionStringName="yavsc" applicationName="/" type="Npgsql.Web.NpgsqlRoleProvider, NpgsqlMRPProviders" autogenerateschema="false" />
      </providers>
    </roleManager>
    <userNameManager defaultProvider="NpsqlUserNameProvider">
      <providers>
        <add name="NpsqlUserNameProvider" connectionStringName="yavsc" applicationName="/" type="Npgsql.Web.RolesAndMembers.NpgsqlUserNameProvider, NpgsqlMRPProviders" autogenerateschema="false">
        </add>
      </providers>
    </userNameManager>
    <workflow defaultProvider="ITProvider">
      <providers>
        <clear />
        <add name="ITProvider" type="Yavsc.ITCPNpgsqlProvider, ITContentProvider" applicationName="/" connectionStringName="yavsc" />
      </providers>
    </workflow>
    <profile defaultProvider="NpgsqlProfileProvider">
      <providers>
        <clear />
        <add name="NpgsqlProfileProvider" type="Npgsql.Web.NpgsqlProfileProvider, NpgsqlMRPProviders" connectionStringName="yavsc" applicationName="/" description="ProfileProvider for yavsc" />
      </providers>
      <properties>
        <add name="Name" />
        <add name="Phone" />
        <add name="Mobile" />
        <add name="Avatar" />
        <add name="BlogVisible" type="System.Boolean" />
        <add name="BlogTitle" />
        <add name="WebSite" />
        <add name="Address" />
        <add name="CityAndState" />
        <add name="ZipCode" />
        <add name="Country" />
        <add name="BankCode" />
        <add name="IBAN" />
        <add name="BIC" />
        <add name="WicketCode" />
        <add name="AccountNumber" />
        <add name="BankedKey" />
        <add name="gtoken" />
        <add name="grefreshtoken" />
        <add name="gtokentype" />
        <add name="gtokenexpir" />
        <add name="gcalapi" />
        <add name="gcalid" />
        <add name="gregid" />
      </properties>
    </profile>
    <blog defaultProvider="NpgsqlBlogProvider">
      <providers>
        <add name="NpgsqlBlogProvider" connectionStringName="yavsc" applicationName="/" type="Npgsql.Web.Blog.NpgsqlBlogProvider, NpgsqlBlogProvider" />
      </providers>
    </blog>
     </system.web>
  <connectionStrings>
    <add name="yavsc" connectionString="Server=127.0.0.1;Port=5432;Database=totem;User Id=totemweb;Password=cZeoft2k5_d4;" providerName="Npgsql" />
  </connectionStrings>
  <appSettings>
    <add key="MonoServerDefaultIndexFiles" value="index.html,Index.aspx" />
    <add key="WorkflowContentProviderClass" value="yavsc.NpgsqlContentProvider" />
    <add key="SmtpServer" value="smtp.free.fr" />
    <add key="AdminEMail" value="paulschneider@free.fr" />
    <add key="OwnerEMail" value="" />
    <add key="Name" value="TOTEM PRODUCTION" />
    <add key="DefaultController" value="Home" />
    <add key="DefaultAvatar" value="/images/noavatar.png;image/png" />
    <add key="RegistrationMessage" value="/RegistrationMail.txt" />
    <!--   <add key="ClientValidationEnabled" value="true" /> -->
    <add key="UnobtrusiveJavaScriptEnabled" value="true" />
    <add key="PayPalLogger" value="PayPal.Log.Log4netLogger" />
  </appSettings>
</configuration>
