@model Yavsc.Models.Billing.ExceptionSIREN
@{
    ViewBag.Title = Localizer["SIRENExceptions"];
}

<div>
    <h4>ExceptionSIREN</h4>
    <hr />
    <dl class="dl-horizontal">
    </dl>
</div>
<p>
    <a asp-action="Edit" asp-route-id="@Model.SIREN">Edit</a> |
    <a asp-action="Index">Back to List</a>
</p>
