@model Yavsc.Models.Calendar.Period

@{
    ViewData["Title"] = "Details";
}

<h2>Details</h2>

<div>
    <h4>Period</h4>
    <hr />
    <dl class="dl-horizontal">
    </dl>
</div>
<p>
    @Html.ActionLink("Edit", "Edit", new { /* id = Model.PrimaryKey */ }) |
    <a asp-action="Index">Back to List</a>
</p>
