@model Yavsc.Models.Haircut.BrusherProfile

@{
    ViewData["Title"] = "Edit";
}

<h2>Edit</h2>

<form asp-action="Edit">
    <div class="form-horizontal">
        <h4>BrusherProfile</h4>
        <hr />
        <fieldset><legend>Disponibilité</legend>
        <div class="form-group">
            <label asp-for="StartOfTheDay" class="col-md-2 control-label"></label>
            <div class="col-md-10">
                <input asp-for="StartOfTheDay" class="form-control" />
                <span asp-validation-for="StartOfTheDay" class="text-danger" />
            </div>
        </div>
        <div class="form-group">
            <label asp-for="EndOfTheDay" class="col-md-2 control-label"></label>
            <div class="col-md-10">
                <input asp-for="EndOfTheDay" class="form-control" />
                <span asp-validation-for="EndOfTheDay" class="text-danger" />
            </div>
        </div>
        </fieldset>

        <fieldset><legend>Grille tarifaire</legend>
        <div asp-validation-summary="ValidationSummary.ModelOnly" class="text-danger"></div>
        <input type="hidden" asp-for="UserId" />
        <div class="form-group">
            <label asp-for="CarePrice" class="col-md-2 control-label"></label>
            <div class="col-md-10">
                <input asp-for="CarePrice" class="form-control" />
                <span asp-validation-for="CarePrice" class="text-danger" />
            </div>
        </div>
        <div class="form-group">
            <label asp-for="HalfBalayagePrice" class="col-md-2 control-label"></label>
            <div class="col-md-10">
                <input asp-for="HalfBalayagePrice" class="form-control" />
                <span asp-validation-for="HalfBalayagePrice" class="text-danger" />
            </div>
        </div>
        <div class="form-group">
            <label asp-for="HalfBrushingPrice" class="col-md-2 control-label"></label>
            <div class="col-md-10">
                <input asp-for="HalfBrushingPrice" class="form-control" />
                <span asp-validation-for="HalfBrushingPrice" class="text-danger" />
            </div>
        </div>
        <div class="form-group">
            <label asp-for="HalfColorPrice" class="col-md-2 control-label"></label>
            <div class="col-md-10">
                <input asp-for="HalfColorPrice" class="form-control" />
                <span asp-validation-for="HalfColorPrice" class="text-danger" />
            </div>
        </div>
        <div class="form-group">
            <label asp-for="HalfDefrisPrice" class="col-md-2 control-label"></label>
            <div class="col-md-10">
                <input asp-for="HalfDefrisPrice" class="form-control" />
                <span asp-validation-for="HalfDefrisPrice" class="text-danger" />
            </div>
        </div>
        <div class="form-group">
            <label asp-for="HalfMechPrice" class="col-md-2 control-label"></label>
            <div class="col-md-10">
                <input asp-for="HalfMechPrice" class="form-control" />
                <span asp-validation-for="HalfMechPrice" class="text-danger" />
            </div>
        </div>
        <div class="form-group">
            <label asp-for="HalfMultiColorPrice" class="col-md-2 control-label"></label>
            <div class="col-md-10">
                <input asp-for="HalfMultiColorPrice" class="form-control" />
                <span asp-validation-for="HalfMultiColorPrice" class="text-danger" />
            </div>
        </div>
        <div class="form-group">
            <label asp-for="HalfPermanentPrice" class="col-md-2 control-label"></label>
            <div class="col-md-10">
                <input asp-for="HalfPermanentPrice" class="form-control" />
                <span asp-validation-for="HalfPermanentPrice" class="text-danger" />
            </div>
        </div>
        <div class="form-group">
            <label asp-for="KidCutPrice" class="col-md-2 control-label"></label>
            <div class="col-md-10">
                <input asp-for="KidCutPrice" class="form-control" />
                <span asp-validation-for="KidCutPrice" class="text-danger" />
            </div>
        </div>
        <div class="form-group">
            <label asp-for="LongBalayagePrice" class="col-md-2 control-label"></label>
            <div class="col-md-10">
                <input asp-for="LongBalayagePrice" class="form-control" />
                <span asp-validation-for="LongBalayagePrice" class="text-danger" />
            </div>
        </div>
        <div class="form-group">
            <label asp-for="LongBrushingPrice" class="col-md-2 control-label"></label>
            <div class="col-md-10">
                <input asp-for="LongBrushingPrice" class="form-control" />
                <span asp-validation-for="LongBrushingPrice" class="text-danger" />
            </div>
        </div>
        <div class="form-group">
            <label asp-for="LongColorPrice" class="col-md-2 control-label"></label>
            <div class="col-md-10">
                <input asp-for="LongColorPrice" class="form-control" />
                <span asp-validation-for="LongColorPrice" class="text-danger" />
            </div>
        </div>
        <div class="form-group">
            <label asp-for="LongDefrisPrice" class="col-md-2 control-label"></label>
            <div class="col-md-10">
                <input asp-for="LongDefrisPrice" class="form-control" />
                <span asp-validation-for="LongDefrisPrice" class="text-danger" />
            </div>
        </div>
        <div class="form-group">
            <label asp-for="LongMechPrice" class="col-md-2 control-label"></label>
            <div class="col-md-10">
                <input asp-for="LongMechPrice" class="form-control" />
                <span asp-validation-for="LongMechPrice" class="text-danger" />
            </div>
        </div>
        <div class="form-group">
            <label asp-for="LongMultiColorPrice" class="col-md-2 control-label"></label>
            <div class="col-md-10">
                <input asp-for="LongMultiColorPrice" class="form-control" />
                <span asp-validation-for="LongMultiColorPrice" class="text-danger" />
            </div>
        </div>
        <div class="form-group">
            <label asp-for="LongPermanentPrice" class="col-md-2 control-label"></label>
            <div class="col-md-10">
                <input asp-for="LongPermanentPrice" class="form-control" />
                <span asp-validation-for="LongPermanentPrice" class="text-danger" />
            </div>
        </div>
        <div class="form-group">
            <label asp-for="ManCutPrice" class="col-md-2 control-label"></label>
            <div class="col-md-10">
                <input asp-for="ManCutPrice" class="form-control" />
                <span asp-validation-for="ManCutPrice" class="text-danger" />
            </div>
        </div>
        <div class="form-group">
            <label asp-for="ShampooPrice" class="col-md-2 control-label"></label>
            <div class="col-md-10">
                <input asp-for="ShampooPrice" class="form-control" />
                <span asp-validation-for="ShampooPrice" class="text-danger" />
            </div>
        </div>
        <div class="form-group">
            <label asp-for="ShortBalayagePrice" class="col-md-2 control-label"></label>
            <div class="col-md-10">
                <input asp-for="ShortBalayagePrice" class="form-control" />
                <span asp-validation-for="ShortBalayagePrice" class="text-danger" />
            </div>
        </div>
        <div class="form-group">
            <label asp-for="ShortBrushingPrice" class="col-md-2 control-label"></label>
            <div class="col-md-10">
                <input asp-for="ShortBrushingPrice" class="form-control" />
                <span asp-validation-for="ShortBrushingPrice" class="text-danger" />
            </div>
        </div>
        <div class="form-group">
            <label asp-for="ShortColorPrice" class="col-md-2 control-label"></label>
            <div class="col-md-10">
                <input asp-for="ShortColorPrice" class="form-control" />
                <span asp-validation-for="ShortColorPrice" class="text-danger" />
            </div>
        </div>
        <div class="form-group">
            <label asp-for="ShortDefrisPrice" class="col-md-2 control-label"></label>
            <div class="col-md-10">
                <input asp-for="ShortDefrisPrice" class="form-control" />
                <span asp-validation-for="ShortDefrisPrice" class="text-danger" />
            </div>
        </div>
        <div class="form-group">
            <label asp-for="ShortMechPrice" class="col-md-2 control-label"></label>
            <div class="col-md-10">
                <input asp-for="ShortMechPrice" class="form-control" />
                <span asp-validation-for="ShortMechPrice" class="text-danger" />
            </div>
        </div>
        <div class="form-group">
            <label asp-for="ShortMultiColorPrice" class="col-md-2 control-label"></label>
            <div class="col-md-10">
                <input asp-for="ShortMultiColorPrice" class="form-control" />
                <span asp-validation-for="ShortMultiColorPrice" class="text-danger" />
            </div>
        </div>
        <div class="form-group">
            <label asp-for="ShortPermanentPrice" class="col-md-2 control-label"></label>
            <div class="col-md-10">
                <input asp-for="ShortPermanentPrice" class="form-control" />
                <span asp-validation-for="ShortPermanentPrice" class="text-danger" />
            </div>
        </div>
        <div class="form-group">
            <label asp-for="WomenHalfCutPrice" class="col-md-2 control-label"></label>
            <div class="col-md-10">
                <input asp-for="WomenHalfCutPrice" class="form-control" />
                <span asp-validation-for="WomenHalfCutPrice" class="text-danger" />
            </div>
        </div>
        <div class="form-group">
            <label asp-for="WomenLongCutPrice" class="col-md-2 control-label"></label>
            <div class="col-md-10">
                <input asp-for="WomenLongCutPrice" class="form-control" />
                <span asp-validation-for="WomenLongCutPrice" class="text-danger" />
            </div>
        </div>
        <div class="form-group">
            <label asp-for="WomenShortCutPrice" class="col-md-2 control-label"></label>
            <div class="col-md-10">
                <input asp-for="WomenShortCutPrice" class="form-control" />
                <span asp-validation-for="WomenShortCutPrice" class="text-danger" />
            </div>
        </div>
        <div class="form-group">
            <div class="col-md-offset-2 col-md-10">
                <input type="submit" value="Save" class="btn btn-default" />
            </div>
        </div>
        </fieldset>
    </div>
</form>

<div>
    <a asp-action="Index">Annuler</a>
</div>

