<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <apikeys>
  </apikeys>
  <packageSources>
    <add key="opt" value="/opt/nuget/pkgs/" /> 
    <add key="Official NuGet Gallery" value="https://www.nuget.org/api/v2/" /> 
    <add key="nuget.org" value="https://api.nuget.org/v3/index.json" protocolVersion="3" /> 
    <add key="xamarin-forms-ci" value="https://www.myget.org/F/xamarinforms-ci/api/v2" /> 
  </packageSources>  <activePackageSource>    <add key="myLocal" value="/home/paul/Nupkgs" />  </activePackageSource>
</configuration>
