@{
    ViewData["Title"] = "À propos de Markdown";
}
<h1>@ViewData["Title"]</h1>

<markdown>
Quelques extensions à un Markdown de base :

* les video et audio: `![video: Ep. 28 - La France en commun - Une invitation à écrire un nouveau projet d'émancipation humaine](/images/testVideo.mp4)`

![video: Ep. 28 - La France en commun - Une invitation à écrire un nouveau projet d'émancipation humaine](/images/testVideo.mp4)

à faire:

* le tag "Numéro de ticket": "Ticket#6854"
* le tag "Titre d'article": "#1_great_title"
* le tag "User" = "@@(John Doe)" ou "@@jdoe"

</markdown>
