@{
    ViewData["Title"] = @SR["Credits"];
}
<h1>@ViewData["Title"]</h1>
<em>Your credits</em>

<p>
<img src="https://www.paypal.com/fr_XC/i/btn/btn_xpressCheckout.gif" align="left" style="margin-right:7px;" />
</p>
<markdown>

</markdown>



