<form id="postfiles" class="dropzone" method="post" enctype="multipart/form-data">
  <div class="fallback">
    <input name="File[]" type="file" id="filesinput"/>
  </div>
    @Html.AntiForgeryToken()
</form>