@model Yavsc.Models.Access.RedirectViewModel
<!DOCTYPE html>
<html>
<head>
    <meta http-equiv="refresh" content="0;url=@Model.RedirectUrl" />
    <title>@Localizer["Redirecting-Title"]</title>
</head>
<body>
  @Localizer["Redirecting-Message"]
</body>
</html>
