@model Estimate

@{
    ViewData["Title"] = "Details";
}

<h2>Details</h2>

<div>
    <h4>Estimate</h4>
    <hr />
    
            @Html.DisplayNameFor(model => model)
<p>
    <a asp-action="Edit" asp-route-id="@Model.Id">@SR["Edit"]</a> |
    <a asp-action="Index">@SR["Back to List"]</a> 
</p>
