@model Yavsc.Models.Workflow.Profiles.FormationSettings

@{
    ViewData["Title"] = @SR["Details"];
}

<h2>@SR["Details"]</h2>

<div>
    <h4>FormationSettings</h4>
    <hr />
    <dl class="dl-horizontal">
    </dl>
</div>
<p>
    <a asp-action="Edit" asp-route-id="@Model.UserId">Edit</a> |
    <a asp-action="Index">@SR["Back to List"]</a>
</p>
