<?xml version="1.0" encoding="utf-8"?>
<configuration>
	<system.web>
		<httpHandlers>
			<add path="*" verb="*" type="System.Web.HttpNotFoundHandler" />
		</httpHandlers>
		<!--
			Enabling request validation in view pages would cause validation to occur
			after the input has already been processed by the controller. By default
			MVC performs request validation before a controller processes the input.
			To change this behavior apply the ValidateInputAttribute to a
			controller or action.
-->
		<pages validateRequest="true" pageParserFilterType="System.Web.Mvc.ViewTypeParserFilter, System.Web.Mvc, Version=3.0.0.0, Culture=neutral, PublicKeyToken=31bf3856ad364e35" pageBaseType="System.Web.Mvc.ViewPage, System.Web.Mvc, Version=3.0.0.0, Culture=neutral, PublicKeyToken=31bf3856ad364e35" userControlBaseType="System.Web.Mvc.ViewUserControl, System.Web.Mvc, Version=3.0.0.0, Culture=neutral, PublicKeyToken=31bf3856ad364e35">
			<controls>
				<add assembly="System.Web.Mvc" namespace="System.Web.Mvc" tagPrefix="mvc" />
				<add tagPrefix="yavsc" namespace="Yavsc.WebControls" assembly="Yavsc.WebControls" />
			</controls>
			<namespaces>
				<add namespace="Yavsc.Helpers" />
				<add namespace="Yavsc.Admin" />
				<add namespace="Yavsc.CatExts" />
				<add namespace="Yavsc.Model.RolesAndMembers" />
				<add namespace="Yavsc.Model.Admin" />
				<add namespace="Yavsc.Model.Blogs" />
				<add namespace="Yavsc.Model.WorkFlow" />
				<add namespace="Yavsc.Model.Google" />
				<add namespace="Yavsc.Model.FrontOffice" />
				<add namespace="Yavsc.Model.Circles" />
				<add namespace="Yavsc.Model.Calendar" />
				<add namespace="System.Collections.Generic" />

			</namespaces>
		</pages>
	</system.web>
	<system.webServer>
		<validation validateIntegratedModeConfiguration="false" />
		<handlers>
			<remove name="BlockViewHandler" />
			<add name="BlockViewHandler" path="*" verb="*" preCondition="integratedMode" type="System.Web.HttpNotFoundHandler" />
		</handlers>
	</system.webServer></configuration>