
/* Wrapping element */
/* Set some basic padding to keep content from hitting the edges */

body {
  background-color: #210912;
  color:#999;
}
h1,h2,h3{color:#fff;}

.price {
    font-weight: bold;
    font-size: x-large;
    color: #fff;
    border: solid white 1px;
    border-radius: 1em;
    padding: .2em;
    margin: .2em;
}
.total {
    font-weight: bold;
    font-size: xx-large;
    color: #fff;
    background-color: #1f1c58;
    border: solid white 1px;
    border-radius: 1em;
    padding: .2em;
    margin: .2em;
}

.blog {
    padding: 1em;
}
.blog a {
  color: #9f9;
  font-weight: 900;
}
.blog a:active,
.blog a:hover {
  outline: 0;
  color: #6C6;
}

tr.vpost {
    background-color: #306020;
    max-height: 3em;
}
tr.ipost {
    background-color: #303030;
    font-size: smaller;
    max-height: 2em;
}
tr.vpost a {
    font-weight: bold;
    color: white;
    text-shadow: 3px 3px 8px black; 
}
tr.ipost a {
    font-style: bold;
    color: #b0b0b0;
    text-shadow: 3px 3px 5px #505050; 
}
.panel{
   float: left;
   padding:1em;
   margin:1em;
   color: white;
   background-color: #421824;
}
/* Set widths on the form inputs since otherwise they're 100% wide */
 input,
select,
 button,
 textarea {
  background-color: #999;
  color: #333;
}

a {
  font-weight: 900;
  color: #9f9;
}
a:active,
a:hover {
  outline: 0;
  color: #6C6;
}
.jumbotron {
    background-color: #502020;
    padding: .5em;
}
/* Set widths on image and video, since otherwise they use their native resolution */

/* .navbar-reac */
 
/* Carousel */

.carousel-caption-s p {    
    font-family: "jubilat";
    font-weight: 600;
    font-size: large;
    line-height: 1.1;
    text-decoration: overline;
    text-decoration-line: overline;
    text-shadow: 3px 3px 7px rgba(0, 0, 0, 0.8);
    -webkit-text-shadow: inset 0 3px 5px rgb(0, 0, 0);
    color: black;
    margin:0.5em;
    padding:.5em;
    animation: mymove 3s infinite;
    background-color: rgba(256,256,256,.4);
}

.carousel-caption-s {
  right: 3em;
  top: 1em;
  left: 3em;
  z-index: 10;
  padding-top: 20px;
  padding-bottom: 20px;
  text-align: center;
  text-shadow: 0 4px 8px rgba(0, 0, 0, .6);
  height: 16em;
  overflow: auto;
}
.carousel-inner .item {
    /* background-color: #301010; */
    color: #FF8;
    margin-left:15%; /* la taille du carousel-control */
    margin-right:15%; /* la taille du carousel-control */
}
.carousel-indicators {
    position: absolute;
    z-index: 15;
    padding: 0;
    text-align: center;
    list-style: none;
    top: .1em;
    height: 1em;
}

main.container {
    padding-right: 1em;
    padding-left: 1em;
    margin-left: 1em;
    margin-right: 1em;
}


@-webkit-keyframes mymove {
    from {text-decoration-color: red;}
    50% {text-decoration-color: blue;}
    to {text-decoration-color: red;}
}

/* Standard syntax */
@keyframes mymove {
    from {text-decoration-color: red;}
    50% {text-decoration-color: blue;}
    to {text-decoration-color: red;}
}
ul.actiongroup li {
    display:inline;
}

ul.actiongroup li a:hover {
    background-color: rgba(128,128,128,.2);
    color: red;
}

footer {
    vertical-align: bottom;
    padding: 1.5em;
}

.display-field {
    font-kerning: none;
    display: inline-flex;
    color: #FF8;
    background-color: #502020;
}

.display-label {
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    font-stretch: condensed;
    display: inline-flex;
    color: #A0A0A0;
    background-color: #210912;
}

footer {
    color:rgb(128,128,128);
    font-weight: bolder;
    font-size: x-small;
}

.meta { 
    color : #A0A0A0;
    font-style: italic;
    font-size: smaller;
}

.activity {
    font-family: fantasy
}

.blogtitle  { 
    display: inline-block;
    font-size: x-large;
}

.blogphoto {
    float: left;
    margin: 1em;
}




