@model ApplicationUser
@{
    var avuri = "/Avatars/"+Model.UserName+".s.png";
    var userPosted = Model.Posts!=null && Model.Posts.Count()>1;
}
<div class="userinfo">
@if (userPosted) { <a asp-controller="Blogspot" asp-action="UserPosts" 
asp-route-id="@Model.UserName" class="btn btn-primary">
<img src="@avuri" asp-append-version="true" class="smalltofhol" alt="" title="@Model.UserName"/>
</a>
}else {
    Html.LabelFor(m=>m.UserName);
}
</div>
