@model DoDirectCreditViewModel
  
<form asp-action="DoDirectCredit">
<div asp-validation-summary="All" class="text-danger" id="ValidationSummary"></div>

    <div class="form-group">

        <label asp-for="PaymentType" class="col-md-2 control-label">Type de paiement</label>
        <div class="col-md-10">
            <input asp-for="PaymentType" class="form-control" type="text" />
            <span asp-validation-for="PaymentType" class="text-danger"></span>
        </div>
    </div>
    <div class="form-group">
        <label asp-for="PayerName" class="col-md-2 control-label">Votre nom complet</label>
        <div class="col-md-10">
            <input asp-for="PayerName" class="form-control" type="text" />
            <span asp-validation-for="PayerName" class="text-danger"></span>
        </div>
    </div>
    <div class="form-group">
        <label asp-for="FirstName" class="col-md-2 control-label">Prénom</label>
        <div class="col-md-10">
            <input asp-for="FirstName" class="form-control" type="text" />
            <span asp-validation-for="FirstName" class="text-danger"></span>
        </div>
    </div>
    <div class="form-group">
        <label asp-for="LastName" class="col-md-2 control-label">Nom de fammille</label>
        <div class="col-md-10">
            <input asp-for="LastName" class="form-control" type="text" />
            <span asp-validation-for="LastName" class="text-danger"></span>
        </div>
    </div>
    <div class="form-group">
        <label asp-for="CreditCardNumber" class="col-md-2 control-label">Numéro de carte de crédit</label>
        <div class="col-md-10">
            <input asp-for="CreditCardNumber" class="form-control" type="text" />
            <span asp-validation-for="CreditCardNumber" class="text-danger"></span>
        </div>
    </div>
    <div class="form-group">
        <label asp-for="CreditCardType" class="col-md-2 control-label">Type de carte</label>
        <div class="col-md-10">
            <input asp-for="CreditCardType" class="form-control" type="text" />
            <span asp-validation-for="CreditCardType" class="text-danger"></span>
        </div>
    </div>
    <div class="form-group">
        <label asp-for="Cvv2Number" class="col-md-2 control-label">Code de vérification visuelle</label>
        <div class="col-md-10">
            <input asp-for="Cvv2Number" class="form-control" type="text" />
            <span asp-validation-for="Cvv2Number" class="text-danger"></span>
        </div>
    </div>
    <div class="form-group">
        <label asp-for="CardExpiryDate" class="col-md-2 control-label">Date d'expritation</label>
        <div class="col-md-10">
            <input asp-for="CardExpiryDate" class="form-control" type="text" />
            <span asp-validation-for="CardExpiryDate" class="text-danger"></span>
        </div>
    </div>
    <div class="form-group">
        <label asp-for="Street1" class="col-md-2 control-label">Adresse</label>
        <div class="col-md-10">
            <input asp-for="Street1" class="form-control" type="text" />
            <span asp-validation-for="Street1" class="text-danger"></span>
        </div>
    </div>
    <div class="form-group">
        <label asp-for="Street2" class="col-md-2 control-label">Adresse (2ième ligne)</label>
        <div class="col-md-10">
            <input asp-for="Street2" class="form-control" type="text" />
            <span asp-validation-for="Street2" class="text-danger"></span>
        </div>
    </div>
    <div class="form-group">
        <label asp-for="City" class="col-md-2 control-label">Ville</label>
        <div class="col-md-10">
            <input asp-for="City" class="form-control" type="text" />
            <span asp-validation-for="City" class="text-danger"></span>
        </div>
    </div>
    <div class="form-group">
        <label asp-for="State" class="col-md-2 control-label">&Eacute;tat</label>
        <div class="col-md-10">
            <input asp-for="State" class="form-control" type="text" />
            <span asp-validation-for="State" class="text-danger"></span>
        </div>
    </div>
    <div class="form-group">
        <label asp-for="Country" class="col-md-2 control-label">Pays</label>
        <div class="col-md-10">
            <input asp-for="Country" class="form-control" type="text" />
            <span asp-validation-for="Country" class="text-danger"></span>
        </div>
    </div>
    <div class="form-group">
        <label asp-for="PostalCode" class="col-md-2 control-label">Code postal</label>
        <div class="col-md-10">
            <input asp-for="PostalCode" class="form-control" type="text" />
            <span asp-validation-for="PostalCode" class="text-danger"></span>
        </div>
    </div>
    <div class="form-group">
        <label asp-for="Phone" class="col-md-2 control-label">Téléphone</label>
        <div class="col-md-10">
            <input asp-for="Phone" class="form-control" type="text" />
            <span asp-validation-for="Phone" class="text-danger"></span>
        </div>
    </div>
    <div class="form-group">
        <label asp-for="CurrencyCode" class="col-md-2 control-label">Monaie</label>
        <div class="col-md-10">
            <input asp-for="CurrencyCode" class="form-control" type="text" />
            <span asp-validation-for="CurrencyCode" class="text-danger"></span>
        </div>
    </div>
    <div class="form-group">
        <label asp-for="Amount" class="col-md-2 control-label">Montant</label>
        <div class="col-md-10">
            <input asp-for="Amount" class="form-control" type="text" />
            <span asp-validation-for="Amount" class="text-danger"></span>
        </div>
    </div>
</div><input asp-for="IpnNotificationUrl" type="hidden" />
</form>
