@model RoleUserCollection
@{ 
    ViewBag.Title = SR["Role"]+" "+Model.Name;
}

<h2>@ViewBag.Title</h2>

<ul>
@foreach (var user in Model.Users) {
   <li> <img src="~/avatars/@(user.UserName).xs.png" alt="avatar"/>
    @user.UserName
   </li>
}
</ul>

<a asp-action="GiveAdmin">@SR["GiveAdmin"]</a>