@model Yavsc.Models.Workflow.Profiles.FormationSettings
@if (Model != null && Model.CoWorking != null) {
    <dl class="dl-horizontal">
    <dt>Partenariat</dt>
    <dd>@Model.DisplayName</dd>
    <dt></dt>
    <dd><ul>
    @foreach(var memb in Model.CoWorking) {
        <li>@Html.Display("PerformerProfile","", "", memb.Performer)</li>
    }
    </ul></dd>
    </dl>
}
