@model HairCutQuery
@section header {
<script src="https://www.paypalobjects.com/api/checkout.js"></script>
}

@{
    ViewData["Title"] = Annuler votre commande;
}

<h2>@ViewData["Title"]</h2>

<div>
    <hr />
    @Html.DisplayFor(m=>m)
</div>
<p>
    <a asp-action="ClientCancelConfirm" asp-route-id="@Model.Id" class="btn btn-success">Je confirme, je veux annuler cette commande</a> |
    <a asp-action="Index" class="btn btn-link">Back to List</a>
</p>
