<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android" android:versionCode="1" android:versionName="1.0" android:installLocation="auto" package="fr.pschneider.bas">
	<uses-sdk android:minSdkVersion="15" />
	<application android:label="fr.pschneider.bas" android:icon="@drawable/icon">
		<service android:name="com.paypal.android.sdk.payments.PayPalService" android:exported="false" />
		<activity android:name="com.paypal.android.sdk.payments.PaymentActivity" />
	</application>
</manifest>