@model Yavsc.Server.Models.IT.SourceCode.GitRepositoryReference

@{
    ViewData["Title"] = @SR["Details"];
}

<h2>@SR["Details"]</h2>

<div>
    <h4>GitRepositoryReference</h4>
    <hr />
    <dl class="dl-horizontal">
    </dl>
</div>
<p>
    @Html.ActionLink("Edit", "Edit", new { /* id = Model.PrimaryKey */ }) |
    <a asp-action="Index">@SR["Back to List"]</a>
</p>
