@{
    ViewData["Title"] = "Contact";
}
<h2>@ViewData["Title"].</h2>
<h3>@ViewData["Message"]</h3>

<address>
   Paul Schneider<br>
   2 Boulevard Aristide Briand - 
   92150 Suresnes (France)
   <abbr title="Phone">P:</abbr> +33 6 51 14 15 64
</address>

<address>
    <strong>Support:</strong> <a href="mailto:contact@pschneider.fr">contact@pschneider.fr</a><br />
    <strong>Marketing:</strong> <a href="mailto:paul@pschneider.fr">paul@pschneider.fr</a>
</address>
