<?xml version="1.0"?>
<configuration xmlns:xdt="http://schemas.microsoft.com/XML-Document-Transform">
	<system.net>
		<mailSettings xdt:Transform="Replace">
			<smtp deliveryMethod="network" from="paulschneider@free.fr" >
				<network host="smtp.free.fr" port="25" defaultCredentials="false" />
			</smtp>
		</mailSettings>
	</system.net>
	<system.web>
		<profile>
			<properties>
				<add name="UITheme" allowAnonymous="true" defaultValue="dark" xdt:Transform="Replace" xdt:Locator="Match(name)" />
			</properties>
		</profile>
	</system.web>
	<connectionStrings>
		<add name="yavsc" connectionString="Server=127.0.0.1;Port=5432;Database=lua;User Id=lua;Password=vEk5g#K3;" providerName="Npgsql" xdt:Transform="Replace" xdt:Locator="Match(name)" />
	</connectionStrings>
	<paypal>
		<settings>
			<add name="mode" value="sandbox" />
			<!-- live or sandbox -->
			<add name="connectionTimeout" value="30000" />
			<!--  (miliseconds) = 30s -->
			<add name="requestRetries" value="1" />
			<!--  -->
			<add name="clientId" value="A9S6jrem3H0gdj8tQ2q1ahSCU38tAJRyiro7eED13h3Syn6C9ZSKSRkl" xdt:Transform="Replace" xdt:Locator="Match(name)" />
			<!--  -->
			<add name="clientSecret" value="PLF77VGTZGGSSZAY" xdt:Transform="Replace" xdt:Locator="Match(name)" />
			<!--  -->
		</settings>
	</paypal>
	<appSettings>
		<add key="Name" value="Lua" xdt:Transform="Replace" xdt:Locator="Match(key)" />
	    <add key="AdminEMail" value="contact@pschneider.fr" xdt:Transform="Replace" xdt:Locator="Match(key)" />
	    <add key="OwnerEMail" value="paul@pschneider.fr" xdt:Transform="Replace" xdt:Locator="Match(key)" />
    	<add key="GOOGLE_API_KEY" value="AIzaSyCF7Bgz-W_p26bbMzxp1ukdgg3LMDHzAo0" xdt:Transform="Replace" xdt:Locator="Match(key)" />
    	<add key="GOOGLE_CLIENT_ID" value="325408689282-6bekh7p3guj4k0f3301a6frf025cnrk1.apps.googleusercontent.com" xdt:Transform="Replace" xdt:Locator="Match(key)" />
    	<add key="GOOGLE_CLIENT_SECRET" value="MaxYcvJJCs2gDGvaELZbzwfL" xdt:Transform="Replace" xdt:Locator="Match(key)" />
	</appSettings>
</configuration>
